<div tabindex="-1" id="key-indicator-accelerate-modal" class="modal fade in hide">
	<div class="modal-header">
		<button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
		<h3 class="text-dialog-title">Edit Acceleration</h3>
	</div>
	<div class="modal-body form form-horizontal modal-body-scrolling">
		<div class="control-group shared-controls-controlgroup" data-view="views/shared/controls/ControlGroup">
			<label class="control-label"> Key Indicator: </label>
			<div class="controls">
				<div class="control shared-controls-labelcontrol" data-view="views/shared/controls/LabelControl">
					<span class="input-label" id="key-indicator-search-name"></span>
				</div>
			</div>
		</div>
		<div class="control-group shared-controls-controlgroup">
			<label class="control-label" for="accelerate-check-box">
				Accelerate: </label>
			<div class="controls ">
				<input type="checkbox" name="accelerate" id="accelerate-check-box" />
				<span class="help-block ">Acceleration may increase storage and processing costs.</span>
			</div>
		</div>
		<div id="refresh-frequency-controls" class="summary-range-dropdown-placeholder">
			<div class="control-group shared-controls-controlgroup"  >
				<label class="control-label"> Refresh Frequency
					<a href="#" class="tooltip-link" data-original-title="Specifies the frequency that the cached results will be refreshed">?</a>
				</label>
				<div class="controls ">
					<div class="control btn-group shared-controls-syntheticselectcontrol">
						<select id="refresh-frequency-dropdown">
						  <option value="*/5 * * * *">Every 5 minutes</option>
						  <option data-default-option="true" value="*/15 * * * *">Every 15 minutes</option>
						  <option value="*/30 * * * *">Every 30 minutes</option>
						  <option value="0 */1 * * *">Every hour</option>
						  <option value="0 */4 * * *">Every 4 hours</option>
						  <option value="0 */8 * * *">Every 8 hours</option>
						  <option value="0 */24 * * *">Every day</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<input type="hidden" name="app" id="app" />
		<input type="hidden" name="owner" id="owner" />
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-dialog-cancel label_from_data pull-left" data-dismiss="modal" style="display: inline;">Cancel</a>
		<div class="loading pull-left"></div>
	    <a href="#" id="save-key-indicator-acceleration" class="btn btn-primary pull-right save" style="display: inline;">Save</a>
	</div>
</div>

<div tabindex="-1" id="search-operation-modal" class="modal fade in hide">
    <div class="modal-header">
        <h3 class="text-dialog-title">Enable Searches</h3>
    </div>
    <div class="modal-body form form-horizontal modal-body-scrolling">
        <div id="operation-description">Enabling search</div>
        <div class="hide" id="operation-completion-message">Searches successfully enabled</div>
        
        <div id="progress-bar">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <a href="#" id="cancel-operation" class="btn pull-right" style="display: inline;">Cancel</a>
        <a href="#" id="close-operation" class="hide btn pull-right btn-dialog-cancel" style="display: inline;">Close</a>
    </div>
</div>

<div tabindex="-1" id="new-search-modal" class="modal fade in hide">
    <div class="modal-header">
        <button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
        <h3 class="text-dialog-title">Select Type of Search to Create</h3>
    </div>
    <div class="modal-body form form-horizontal modal-body-scrolling">
        <div class="search-type-selection">
            <h3><a href="ess_key_indicator_new">Key Indicator Search</a></h3>
            Key indicators are used on Enterprise Security dashboards to display a useful security metric
        </div>
        
        <div class="search-type-selection">
            <h3><a href="ess_correlation_search_new">Correlation Search</a></h3>
            Correlation searches are used to generate notable events for issues that may need investigation
        </div>
        
        <div class="search-type-selection">
            <h3><a href="ess_swimlane_new">Asset or Identity Investigator Search</a></h3>
            An asset or investigator search is used to generate the swimlanes used in the asset and identity investigator
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-dialog-cancel label_from_data" data-dismiss="modal" style="display: inline;">Cancel</a>
    </div>
</div>

<div tabindex="-1" id="no-searches-selected-modal" class="modal fade in hide">
    <div class="modal-header">
        <button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
        <h3 class="text-dialog-title">No Searches Selected</h3>
    </div>
    <div class="modal-body form form-horizontal modal-body-scrolling">
        No searches were selected, please select at least one search and try again.
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-dialog-cancel label_from_data" data-dismiss="modal" style="display: inline;">Close</a>
    </div>
</div>

<div id="success_message" class="hide alert alert-info">
  <i class="icon-alert"></i><span id="success_text">The changes were successfully saved</span>
</div>

<div id="failure_message" class="hide alert alert-error">
  <i class="icon-alert"></i><span id="error_text">Changes could not be saved</span>
</div>

<a id="new-search" class="btn btn-primary pull-left" style="display: inline;">New</a>

<script type="text/x-template" id="search-list-template">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped display dataTable" id="table">
    <thead>
        <tr role="row">
            <th><input type="checkbox" id="checkall" /></th>
            <th>Name</th>
            <th>Type</th>
            <th>Next Scheduled Time</th>
            <th><i class="icon-lightning"></i></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < key_indicator_searches.length; i++) { %>
        <tr data-search-name="<%- key_indicator_searches[i].name %>">
            <td><input type="checkbox" disabled="true" /></td>
            <td><a href="ess_key_indicator_edit?search=<%- key_indicator_searches[i].name %>"><%- key_indicator_searches[i].name %></a></td>
            <td>Key indicator</td>
            <td><%- key_indicator_searches[i].content.next_scheduled_time %></td>
            <td>
            <% if(key_indicator_searches[i].content.is_scheduled) {%>
                <i class="icon-lightning icon-lightning-selected"></i>
            <% } else { %>
                <i class="icon-lightning"></i>
            <% } %> 
            </td>
            <td><a class="key-indicator accelerate" data-app="<%- key_indicator_searches[i].acl.app %>" data-owner="<%- key_indicator_searches[i].acl.owner %>" data-is-scheduled="<%- key_indicator_searches[i].content.is_scheduled %>" data-cron-schedule="<%- key_indicator_searches[i].content.cron_schedule %>" data-search="<%- key_indicator_searches[i].name %>" href="#">Accelerate</a></td>
        </tr>
        <% } %>
        
        <% for (var i = 0; i < correlation_searches.length; i++) { %>
        <tr data-search-name="<%- correlation_searches[i].name %>">
            <td><input class="correlation_search_checkbox" type="checkbox" name="correlation_search" value="<%- correlation_searches[i].name %>"</td>
            <td><a href="correlation_search_edit?search=<%- correlation_searches[i].name %>"><% if (correlation_searches[i].rule_name.length > 0){%><%- correlation_searches[i].rule_name %><%} else { %><%- correlation_searches[i].name %><% } %></a></td>
            <td>Correlation Search</td>
            <td><%- correlation_searches[i].next_scheduled_time %></td>
            <td></td>
            <td>
            <% if(!correlation_searches[i].enabled) {%>Disabled
                <% if(can_edit_correlation_searches){%>| <a href="#" data-search="<%- correlation_searches[i].name %>" class="change_to_enabled">Enable</a><% } %>
            <% } %>
            <% if(correlation_searches[i].enabled) {%>Enabled
                <% if(can_edit_correlation_searches){%>| <a href="#" data-search="<%- correlation_searches[i].name %>" class="change_to_disabled">Disable</a><% } %>
            <% } %>
            <% if(correlation_searches[i].type == 'Real time' && can_edit_correlation_searches) {%> | <a href="#" data-search="<%- correlation_searches[i].name %>" class="change_to_scheduled">Change to scheduled</a><% } %>
            <% if(correlation_searches[i].type == 'Scheduled' && correlation_searches[i].supports_realtime && can_edit_correlation_searches) {%> | <a href="#" data-search="<%- correlation_searches[i].name %>" class="change_to_realtime">Change to real-time</a><% } %></td>
        </tr>
        <% } %>

        <% for (var i = 0; i < swimlane_searches.length; i++) { %>
        <tr data-search-name="<%- swimlane_searches[i].name %>">
            <td><input type="checkbox" disabled="true" /></td>
            <td><a href="ess_swimlane_edit?search=<%- swimlane_searches[i].name %>"><% if (swimlane_searches[i]['action.swimlane.title'] > 0){%><%- swimlane_searches[i]['action.swimlane.title'] %><%} else { %><%- swimlane_searches[i].name %><% } %></a></td>
            <td>Entity investigator search</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <% } %>
    </tbody>
</table>

<div class="bottom_controls">
    <a href="#" id="enable-selected-searches" class="btn btn-primary pull-left" style="display: inline;">Enable</a>
    <a href="#" id="disable-selected-searches" class="btn btn-primary pull-left" style="display: inline;">Disable</a>
</div>
</script>

<div id="content">
    <div class="loading-placeholder">
        Retrieving searches...
    </div>
</div>
