.helpNote{
	margin-bottom: 10px;
}

.noneSelected{
	font-style: italic;
	color: #999999;
}

.statusEditor#eaiform{
	width: 760px;
}

#transitions{
	width: 100%;
}

#transitions_status{
	width: 15%;
}

#transitions_authorization{
	width: 65%;
}

#transitions_operations{
	width: 20%;
}

.firstCell .layoutCellInner{
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-width: 0px;
}

