<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css" 
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>
<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/ta_windows_setup.css' % app]}" />
</%def>
<div class="WindowsMessageContainer">
  <h2>Splunk Add-on for Windows Setup: Failure</h2>
  <p>Your Splunk Add-on for Windows settings could not be saved successfully, and the add-on has not been marked as configured.   Click "OK" to go back to Splunk Add-on for Windows setup page.</p>
  <div class="WindowsOKButton">
    <a target="_parent" href="${make_url('/app/%s' % app)}" class="splButton-primary"><span>OK</span></a>
  </div>
</div>
