<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>
<%

import re

WIN_REGEX = re.compile('microsoft-windows-', re.IGNORECASE)

%>

<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css" 
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>

<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/ta_windows_setup.css' % app]}" />
    <%lib:script_tags files="${['/static/app/%s/ta_windows_setup.js' % app,
                                '/static/app/%s/typewatch.js' % app]}" />
</%def>

<%def name="gen_form(method='POST', action=None, id=None)">
    <form  method="${method}"  action="${action if action else ''}" ${'id=' + id if id else ''}>
</%def>

<%def name="gen_radio_row(input, error_key=None)">
<tr>
  <td>${input.name}</td>
  <td>
    <input class="MonitorEnable" type="radio" name="${input.name + '.disabled'}" value="false" ${'checked="checked"' if input.disabled==False else ''} /> 
  </td>
  <td>
    <input class="MonitorDisable" type="radio" name="${input.name + '.disabled'}" value="true" ${'checked="checked"' if input.disabled==True else ''} />
  </td>
</tr>
</%def>

<%def name="gen_drag_drop(enabled, all_logs)">

<div class="WindowsEventLog">
  <h3>Windows Event Log Inputs:</h3>

  <p class="WinEvtLogInstructions">
    To enable the collection of an event log in the Disabled group, simply click on the event log name. 
    Use the filters located above the Enabled and Disabled groups
    to help locate specific event logs.
    Clicking "Disable All" will disable all unfiltered event logs in the Enabled group, while
    clicking "Enable All" will enable all unfiltered event logs in the Disabled group.
  </p>
  <div class="EnableDisableContainer">
    <h4 class="EnableHeader">Enabled <span>Filter: 
      <input type="text" id="enable_filter" class="WinEvtLogFilter" autocomplete="off" />
      <a href=# id="enable_filter_clear">&times;</a>
    </span></h4>
    <h4 class="DisableHeader">Disabled <span>Filter: 
      <input id="disable_filter" class="WinEvtLogFilter" autocomplete="off" />
      <a href=# id="disable_filter_clear">&times;</a>
    </span></h4>
      <ol id="winevtlog_enabled" class="WinEvtLogConnected"> 
    % if not enabled.disabled:
        % for log in enabled.logs:
        <li id="${log}">${WIN_REGEX.sub('', log)}
	<input type="hidden" name="winevtlogs" value="${log}" />
        </li>
        % endfor
    % endif
      </ol>

      <ol id="winevtlog_disabled" class="WinEvtLogConnected"> 
    % for log in all_logs:
        % if not enabled.disabled:
            % if log.name not in enabled.logs:
	<li id="${log.name}">${WIN_REGEX.sub('', log.name)}
	</li>
            % endif
        % else:
	<li id="${log.name}">${WIN_REGEX.sub('', log.name)}
	</li>
        % endif
    % endfor
      </ol>
      <div class="EnableMoveSort">
        <a href=# id="winevtlog_enable_move">Disable All</a>
        <a href=# id="winevtlog_enable_sort">Sort (desc)</a>
      </div>
      <div class="DisableMoveSort">
        <a href=# id="winevtlog_disable_move">Enable All</a>
        <a href=# id="winevtlog_disable_sort">Sort (desc)</a>
      </div>
  </div>
  
</div>
</%def>

<%
    error_key = None
%>
<div class="WindowsContainer">
  <div class="WindowsOverview">
    <h3 id="overview_header">Overview</h3>
    <p>The Splunk Add-on for Windows provides pre-built data inputs to facilitate Windows system monitoring using Splunk.  Check out the <a href="http://splunk-base.splunk.com/apps/28933/splunk-for-windows-technology-add-on" target="_blank">Splunk Add-on for Windows</a> page on <a href="http://splunk-base.splunk.com" target="_blank">Splunkbase</a> for support information, the latest updates, and more.</p>
    <p>Configuration of inputs through this application are global, and might affect how other Splunk applications on the system use those inputs. After configuration, confirm that the changes you make in this application do not negatively alter the other applications.</p>
  </div>

% if system:
  <div class="WindowsError">
    % if errors:
<%    
    error_key = errors.name
%>
        % for error in errors.errors:
    <p class="errorText">Error in ${errors.name}: ${error}</p>
        % endfor
    % endif
  </div>


  ${gen_form(method='POST', action=make_url(['custom', app , 'tawindowssetup', app, 'save']), id="windows_form")}

  ${csrf_hidden_input()}

  ${gen_drag_drop(win[0], cannon)}

  <div class="WindowsMonitor">
    <h3 id="monitor_header">File and Directory Inputs:</h3>
    <h3 id="distsearch_header">Distributed Search:</h3>
    <p class="MonitorOverview">
    To enable or disable the collection of Windows DHCP or Update logs, toggle the radio buttons below to the appropriate setting.
    </p>
    <p class="MonitorOverview MonitorOverviewLast">
    To enable or disable optimizd distributed search replication, toggle the radio button below to the appropriate setting.
    </p>
    <table id="monitor_table" class="InputTable">
      <tr>
        <th class="NameHeader">Name</th>
        <th class="GenericHeader">Enable
        </th>
        <th class="GenericHeader">Disable
        </th>
      </tr>
    % for m in mon:
        ${gen_radio_row(m, error_key=error_key)}
    % endfor
    </table>
    <div id="distsearch_table_container">
      <table id="distsearch_table" class="InputTable">
        <tr>
          <th class="NameHeader">Name</th>
          <th class="GenericHeader">Enable
          </th>
          <th class="GenericHeader">Disable
          </th>
        </tr>
        <tr>
	  <td>Optimize replication</td>
	  <td class="DistSearchEnable">
	    <input type="radio" name="optimize_dist_search" value="true" ${'checked="checked"' if optimize==True else ''} />
	  </td>
          <td class="DistSearchDisable">
	    <input type="radio" name="optimize_dist_search" value="false" ${'checked="checked"' if optimize==False else ''} />
	  </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="WindowsButtons">
    <input id="windows_submit" value="Save" type="submit" class="splButton-primary">
    </input>
    <input id="windows_reset" type="reset" class="splButton-secondary">
    </input>
  </div>
  </form>
% else:

  <div class="WindowsError">
    <p class="errorText">This server is not running a known Windows operating system, so there are no configuration options available.  Install this add-on on Windows systems only.</p>
  </div>
% endif
</div>

