<div id="credential-editor" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <% if (isEdit) { %>
    <h3>Edit Credential</h3>
    <% } else {%>
    <h3>Create Credential</h3>
    <% } %>    
  </div>
  <div class="modal-body">
	<div class="alert hide" style="background-color: #faeae6; border-color: #d85d3c; color: #d85d3c;" id="warning_message"></div>
  
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="username">User</label>
        <div class="controls">
          <input type="text" id="input-username" name="validate-username" placeholder="Cannot contain / or spaces" value="<%=username%>" <%if(isEdit){%>readonly="readonly"<%}%> ></input>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="realm">Realm</label>
        <div class="controls">
          <input type="text" id="input-realm" name="validate-realm" placeholder="Cannot contain / or spaces"  value="<%=realm%>" <%if(isEdit){%>readonly="readonly"<%}%> ></input>
          <span class="help-block">The realm field is optional.</span>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="input-password" name="validate-password"></input>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="app">Application</label>
        <div class="controls">
        <%if(isEdit){%>
          <input type="text" id="input-app" name="validate-app" value="<%=app%>" readonly="readonly" />
        <%} else {%>
          <select type="text" id="input-app" name="validate-app" >
          <% _.each(apps, function(some_app){ %>
            <option <%if(app==some_app){%>selected<%}%> ><%= _.escape(some_app) %></option>
          <% }); %>
          </select>
        <%}%>
        <span class="help-block">This indicates in which application the credential will be stored.</span>
        </div>
      </div>
      
      <div id="progress-bar" style="display:none;">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>
      </div>
      
    </form>  
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    <a href="#" id="save-changes" class="btn btn-primary">Save</a>
  </div>
</div>