<svg width=0 height=0>

    <defs>
      <circle class="loaderCircle" id="loaderCircle" cx="0" cy="50" r="5"/>
      <clipPath id="loaderClip">
        <rect width="400" height="100" transform="translate(-10,0)" />
      </clipPath>
      <g transform="translate(10, 0)" id="loader" clip-path="url(#loaderClip)">
        <use xlink:href="#loaderCircle" transform="translate(0, 0)"/>
        <use xlink:href="#loaderCircle" transform="translate(30, 0)"/>
        <use xlink:href="#loaderCircle" transform="translate(60, 0)"/>
        <use xlink:href="#loaderCircle" transform="translate(90, 0)"/>
        <use xlink:href="#loaderCircle" transform="translate(120, 0)"/>
        <use xlink:href="#loaderCircle" transform="translate(150, 0)"/>
        <use xlink:href="#loaderCircle" transform="translate(180, 0)"/>
        <use xlink:href="#loaderCircle" transform="translate(210, 0)"/>
        <use xlink:href="#loaderCircle" transform="translate(240, 0)"/>
        <use xlink:href="#loaderCircle" transform="translate(270, 0)"/>
      
        <g id="loaderBoldCircles">
          <circle id="a" class="loaderBoldCircle" cx="0" cy="50" r="9">
          </circle>
          
          <circle id="b" class="loaderBoldCircle" cx="-30" cy="50" r="8">
          </circle>
          
          <circle id="c" class="loaderBoldCircle" cx="-60" cy="50" r="7">
          </circle>
        </g>
      </g>

    </defs>

</svg>
