/* Overall form appearance */
.splunkdj-setup-form {
    /* Copied from Splunk's admin.css: .entityEditForm */
	padding-top: 15px;
	min-width:500px;
    max-width: 940px;
    _width:940px;
    background: white;
    _border: 1px solid #ccc;
    *border: 1px solid #ccc;
    -webkit-box-shadow: #999 0px 0px 5px;
    -moz-box-shadow: #999 0px 0px 5px;
    box-shadow: #999 0px 0px 5px;
    margin: 30px auto 0px auto;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	/* Copied from Splunk's admin.css: .hasTabs .entityEditForm */
	padding: 10px;
}

/* Padding around the form */
.splunkdj-setup-form {
    padding-left: 10px; padding-right: 10px;
    padding-bottom: 15px;
    margin-bottom: 0 !important;  /* override splunkstrap */
}

/* Headings */
.splunkdj-setup-form h1 {
    margin-bottom: .3em;
}

/* Make checkbox inputs and their label appear on the same line */
.splunkdj-setup-form input {
    display: inline !important; /* override splunkstrap */
}

/* Validation error boxes */
.splunkdj-setup-form .errorlist {
    /* Copied from Bootstrap: .alert */
    padding: 8px 35px 8px 14px !important;  /* override splunkstrap */
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    
    /* Copied from Bootstrap: .alert-error */
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.splunkdj-setup-form .errorlist {
    margin-left: 0;   /* override splunkstrap */
}
.splunkdj-setup-form .errorlist li {
    list-style: none; /* remove bullets */
}

/* Help text for form fields */
.splunkdj-setup-form .helptext {
    display: block;
    padding-left: 1.5em;
    font-style: italic;
    color: blue;
}