<%
import cherrypy, re
from lib.i18n import current_lang
root_endpoint = cherrypy.request.config.get('root_endpoint')
root = (root_endpoint or '') + '/'
# Remove duplicate slashes at beginning/end of root_endpoint
root = re.sub(r'(/)\1+$', r'\1', re.sub(r'^(/)\1+', r'\1', root))
locale = "-".join([ x.lower() for x in current_lang()[0:2] if x is not None ])
%>
<!DOCTYPE html>
<script type="text/javascript">
    document.location = "${root}dj/${locale}/${APP['id']}"
</script>