<script src="{% url 'page_config' %}?autoload=1"></script>
{% if USE_BUILT_FILES %}
    <script src="{{STATIC_URL}}{{BUILT_FILES_ROOT}}/config.js"></script>
    <script>
    require.config({
        map: {
            "*": {
                "css": "splunkjs/contrib/require-css/css"
            }
        }
    });
    </script>
{% else %}
    <script src="{{STATIC_URL}}i18n.js"></script>
    <script src="{{STATIC_URL}}contrib/require.js"></script>
    <script src="{{STATIC_URL}}profiles/shared.js"></script>
    <script src="{{STATIC_URL}}splunkjs/config.js"></script>
    <script>
        // When non-compiled, we want to see all console output.
        require.config({
            paths: {
                'util/console': 'util/console_dev'
            }
        });
    </script>
{% endif %}
<script>
    require.config({baseUrl: "{{STATIC_URL}}"});
    require(["splunkjs/ready!"]);
</script>