<{{tag}} 
 id="{{id}}" 
 class="splunk-{{component_type}} {{type}}" 
 style="{{style}}"
 data-type="{{type}}"
 data-component="{{component_type}}"
 data-require="{{require_file}}"
 data-options="{{options}}">
    {# We only put a placeholder here if we are not running on Splunk 5 #}
    {% if not context.SPLUNK_5 %}
        <div id="placeholder-splunk-bar">
            <a href="" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
        {% if raw_options.appbar %}
        <div id="placeholder-app-bar"></div>
        {% endif %}
    {% endif %}
</{{tag}}>