
.diners_club_enroute{
	background-image: url('images/diners club.png');
}

.diners_club_carte_blanche{
	background-image: url('images/diners club.png');
}

.american_express{
	background-image: url('images/american express.png');
}

.jcb{
	background-image: url('images/jcb.png');
}

.diners_club_international{
	background-image: url('images/diners club.png');
}

.visa_electron{
	background-image: url('images/visa electron.png');
}

.maestro{
	background-image: url('images/maestro.png');
}

.visa{
	background-image: url('images/visa.png');
}

.mastercard{
	background-image: url('images/mastercard.png');
}

.bankcard{
	background-image: url('images/bankcard.png');
}

.discover_card{
	background-image: url('images/discover.png');
}

.solo{
	background-image: url('images/solo.png');
}

