
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	float: right;
}

.dataTables_filter {
	float: left;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 16px;
	width: 16px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/datatable/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/datatable/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/datatable/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/datatable/forward_enabled.jpg');
}




/*
Table element
*/
table.paginatedTable{
	width: 100%;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#CCCCCC;
	margin-bottom: 16px;
}

table.paginatedTable th {
	border-color:#999999;
	border-bottom-style:solid;
	cursor: pointer;
	* cursor: hand;
}

table.paginatedTable th {
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding:3px 5px;
	text-align:left;
	vertical-align:top;
}

table.paginatedTable td {
	border-color:#CCCCCC;
}

table.paginatedTable td {
	border-top-style:solid;
	border-top-width:1px;
	padding:5px;
	vertical-align:top;
}

table.paginatedTable td.lastRow {
	border-bottom-style:solid;
	border-bottom-width:1px;
}

table.paginatedTable td.openclose {
	width:16px;
	vertical-align: middle;
}

table.paginatedTable td.details {
	padding: 0px;
	margin: 0px;
	border-top-width: 0px;
}

table.paginatedTable td.details table{
	padding: 0px;
	padding-left: 28px;
	border-width: 0px;
	width: 100%;
	/* background-color: #F4F4F4; */
}

table.paginatedTable td.details table.odd{
	padding-right: 8px;
	/* background-color: #F4F4F4; */
	border-width: 0px;
}

table.paginatedTable td.details table.even{
	padding-right: 8px;
	/* background-color: white; */
	border-width: 0px;
}

table.paginatedTable td.details table td{
	border-width: 0px;
}








/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/datatable/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/datatable/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/datatable/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/datatable/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/datatable/sort_desc_disabled.png') no-repeat center right;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.paginatedTable tr.odd.gradeA {
	background-color: #ddffdd;
}

table.paginatedTable tr.even.gradeA {
	background-color: #eeffee;
}

table.paginatedTable tr.odd.gradeA {
	background-color: #ddffdd;
}

table.paginatedTable tr.even.gradeA {
	background-color: #eeffee;
}

table.paginatedTable tr.odd.gradeC {
	background-color: #ddddff;
}

table.paginatedTable tr.even.gradeC {
	background-color: #eeeeff;
}

table.paginatedTable tr.odd.gradeX {
	background-color: #ffdddd;
}

table.paginatedTable tr.even.gradeX {
	background-color: #ffeeee;
}

table.paginatedTable tr.odd.gradeU {
	background-color: #ddd;
}

table.paginatedTable tr.even.gradeU {
	background-color: #eee;
}

tr.odd {
	/* background-color: #F4F4F4; */
}

tr.even {
	/* background-color: white; */
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even 
tr.odd td.sorting_1 {
	background-color: #EEEEEE;
}

tr.odd td.sorting_2 {
	background-color: #EEEEEE;
}

tr.odd td.sorting_3 {
	background-color: #EEEEEE;
}

tr.even td.sorting_1 {
	background-color: #F4F4F4;
}

tr.even td.sorting_2 {
	background-color: #F4F4F4;
}

tr.even td.sorting_3 {
	background-color: #F4F4F4;
}
*/

