{"domain": "@@domain", "response": {"name_servers": ["ns1.@@domain", "ns2.@@domain", "ns3.@@domain"], "registrant": "Malicious Domain Operators, LLC.", "registration": {"created": "@@date", "expires":     "2017-06-11", "registrar": "Malicious Domain Operators, LLC.", "statuses": ["clientTransferProhibited"], "updated": "@@date"}, "whois": {"date": "@@date", "record": "Registrant:\nMalicious Domain Operators, LLC.\n   101 Elm St.\n   Suite 1729\n   Arkham, MA 99999\n   US\n   Domain Name: @@domain\n\n   Administrative Contact, Technical Contact:Malicious Domain Operators, LLC.\n   \t\tSuite 1408\n   101 Elm St.\n   Arkham, MA 99999\n   US\\n\n   Domain servers in listed order:\n\n   ns1.@@domain             @@ip\n   ns2.@@domain             @@ip\n   ns3.@@domain             @@ip\n"}}}