
## postprocess.conf

[MySearch by host - Summary Gen]
savedsearch = MySearch - Base
postprocess = stats sum(count) as count by host | summaryindex spool=t addtime=t index="summary" file="MySearch by host - Summary Gen_$random$.stash_new" name="MySearch by host - Summary Gen"

[MySearch by sourcetype - Summary Gen]
savedsearch = MySearch - Base
postprocess = stats sum(count) as count by sourcetype | summaryindex spool=t addtime=t index="summary" file="MySearch by sourcetype - Summary Gen_$random$.stash_new" name="MySearch by sourcetype - Summary Gen"