.syn-btn-label.active {
    background-image: linear-gradient(to bottom, #cccab2, #cccab2);
}

button[value^=informational] {
    background-image: linear-gradient(to bottom, #86C0E3, #6FA8CA);
}

button[value^=low] {
    background-image: linear-gradient(to bottom, #B9D577, #A5BF66);
}

button[value^=medium] {
    background-image: linear-gradient(to bottom, #E1D53B, #CEC228);
}

button[value^=high] {
    background-image: linear-gradient(to bottom, #DB8E55, #C47B44);
}

button[value^=critical] {
    background-image: linear-gradient(to bottom, #D85D3C, #BB4F32);
}

.syn-left-label {
    float:left;
    padding-top: 5px;
    font-size: 12px;
    font-family: Century Gothic, sans-serif;
    font-weight: 100;
    color: white;
}

.syn-right-label {
    float:right;
    padding-top: 5px;
    font-size: 22px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.syn-btn-label {
    width: 170px;
    height: 35px;
    position: relative;
    border-radius: 0px;
    border-top: solid 1px #EDEDED;
    border-left: solid 1px #EDEDED;
    border-right: solid 1px #EDEDED;
    border-bottom: none;
    box-shadow: none;
}

.syn-btn-label.active {
    border-top: solid 1px #EDEDED;
    border-left: solid 1px #EDEDED;
    border-right: solid 1px #EDEDED;
    border-bottom: none;
    box-shadow: none;
}
