
/**
 * shared/common flashtimeline.css
 */
 
.viewHeader .TitleBar {
   float:left;
}

.viewHeader .HTML .introDiv {
   padding-top:2px;
   color:blue
}

.viewHeader .noRightMargin {
   margin-right: 2px;
}

.viewHeader .ServerSideInclude {
    clear:both;
}

.viewHeader .introToggle {
    padding: 4px 8px;
    color:#1A7996;
    cursor: pointer;
}

.introLabelBackgroundNormal {
    background-color:transparent;
}

.introLabelBackgroundHighlight {
    background-color:#cccccc;
}

/* IE7/8 exception for checkbox float */
html.lt-ie9 .mainSearchControls .Checkbox {
	float:none !important;
}

/* Fix pulldown height to keep filter alignment correct on IE7/8 */
html.lt-ie9 div.Pulldown select {
	height: 29px;
}

.mainSearchControls .TimeRangePicker,
.mainSearchControls .Pulldown,
.mainSearchControls .TextField,
.mainSearchControls .Checkbox,
.mainSearchControls .SubmitButton {
    float:left;
}

/* normalize all labels */
.mainSearchControls label {
    text-align:right;
    padding:3px 5px 0 0;
}

/* Normalize label widths */
.mainSearchControls .TextField label,
.mainSearchControls .Pulldown label,
.mainSearchControls .TimeRangePicker .timeRangePickerLabel {
	width: 200px;
     /* counteract the IE patches in application.css */
    background-color:transparent !important;
    display:inline-block !important;
    text-align:left;
}

.mainSearchControls .TextField label {
    background-color:transparent !important;
    text-align:left;
}

.mainSearchControls .Pulldown label,
.mainSearchControls .TimeRangePicker .timeRangePickerLabel {
    background-color:transparent !important;
    display:inline-block !important;
    text-align:left;
}                    

/* set styles on internal elements. */
.mainSearchControls .Pulldown select{
    float: left;
    width: 157px;
}
.mainSearchControls .TextField input {
    float: left;
    width: 141px;
}

.mainSearchControls .TimeRangePicker .timeRangeActivatorWrapper {
    display:block;
    float:left;
    width:140px;
}

/**
 * set rules for TextFields appearing within dashboard panels
 * SOLNESS-1267: added nowrap parameter, allowing lines with 
 * more than one input field to display without wrapping the
 * field content; primarily applies to IE7 or IE9 in IE7 std. mode
 */
.dashboardContent .TextField {
    float:left;
    margin-right:10px;
    white-space:nowrap;
}
.dashboardContent .StaticContentSample {
    float:left;
    padding-top:3px;
}

.dashboardContent .Pager {
	clear: both;
}

/* dealing with dropdown menus in the multiple select Pulldown */
.mainSearchControls .Pulldown .ui-dropdownchecklist label {
    float:none;
    text-align:left;
    padding:0px;
    width:auto;
}
.mainSearchControls .Pulldown .ui-dropdownchecklist input {
    display:block;
    float:left;
    clear:both;
    border:0px;
}
.ui-dropdownchecklist-dropcontainer{
    width: 150px;
}

/* fixing the TimeRangePicker to look like a normal control */
.TimeRangePicker {
    margin-bottom:0px;
}
.TimeRangePicker .timeRangeActivatorWrapper {
    float:left;
    padding-top:0px;
    margin-top: 0px !important;
}
.TimeRangePicker .outerMenuWrapper {
    margin-top:-1px;
}
.TimeRangePicker .timeRangeActivatorWrapper {
    background-image: none;
    background-color:#fff;
    -moz-border-radius: 0px;
    min-height:20px;
    padding-top:0px;
}
.TimeRangePicker .timeRangeActivator {
    padding-top:0px;
}
.TimeRangePicker .timeRangeActivatorWrapper span.splIcon {
    margin-top:8px;
}
.TimeRangePicker .timeRangePickerLabel {
    display:block;
    float:left;
    padding: 4px 5px 0 0;
    text-align: right;
}

/* hiding the 'search with raw search syntax links' initially. */
.HTML a.rawSearchURL {
    visibility:hidden;
}
.HTML.showLink a.rawSearchURL {
    visibility:visible;
}

/* fixing the SubmitButton to have same height as everyone else. */
.SubmitButton input.searchButton {
    height:22px;
    background-position: -45px -3px;
}
.splVersion-4_3 input.searchButton {
    background-position:-44px -3px;
}
html.lt-ie9 .splVersion-4_3 input.searchButton {
    background-position:-46px -4px;	
}


/* the following is used for providing styling under the search controls (SOLNESS-2065) */
.searchControlsBreak {
    float: left;
    clear: left;
    padding-top: 8px;
}

/* SOLNPCI-716: Filter Appearance 
 * (here to end)
 */ 

.mainSearchControls .Checkbox,
.mainSearchControls .Pulldown,
.mainSearchControls .TextField,
.mainSearchControls .TextField label,
.mainSearchControls .Pulldown label {
    width: 210px;
}

/* Align labels with checkboxes */
.mainSearchControls .Checkbox input {
	margin-top: 0px;
}

/* We are going to allow the time-range picker to grow if need be.
   This works OK since the time-range picker is the last item in the
   main search controls and can grow a little while looking ok. */
.mainSearchControls .TimeRangePicker {
    width: auto;
    min-width: 210px;
    padding-top: 21px;
}

/* Hide timeRangePickerLabel on all filters. 
 * This prevents re-display in case someone inadvertently
 * adds it to a view.
 */
.mainSearchControls .timeRangePickerLabel {
    display: none !important;
}

html.lt-ie9 .splView-incident_review .mainSearchControls,
html.lt-ie9 .splTemplate-dashboard .mainSearchControls {
	width: 1024px;
	border-bottom: none;
}

html.lt-ie9 .splView-incident_review .panel_row1_col,
html.lt-ie9 .splTemplate-dashboard .panel_row1_col {
	border-top-width: 1px;
	border-top-style: solid;
}

/* Pad main search controls on right. */
.mainSearchControls {
    padding-left: 30px;
}

/* Float the submit button on its own row */ 
.mainSearchControls .SubmitButton {
    clear: left;
}

/* END SOLNPCI-716*/