
{% load splunkmvc %}

<!DOCTYPE html>
<html>
	<head>
		<title>Splunk Application Framework Quick Start</title>
		<!-- Bootstrap -->
    	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/bootstrap.css"/>
		<link href="{{STATIC_URL}}quickstartfx/css/style.css" rel="stylesheet" type="text/css" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/prettify.css" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="{{STATIC_URL}}quickstartfx/js/prettify.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}quickstartfx/js/jquery-1.8.2.min.js"></script>

	</head>
	<body onload="prettyPrint();">
		<div id="splunk-bar"></div>
		<div id="container">
			<div class="progress-buttons" id="top-progress-buttons">
				<a href="{% url 'quickstartfx:steps' id='addSearchBar' %}" class="btn">Back</a>
				<a href="{% url 'quickstartfx:steps' id='addResultTable' %}" class="btn btn-next btn-success">Next</a>
			</div>
			<h1>Splunk Application Framework Quick Start</h1>
			
			
			<div class="row" id="content-container">
				<div class="span23" id="main">
						<h2>Add a search</h2>
						<p>You can include a hard-coded search or any saved search from your Splunk instance to your app.</p>
						<!-- <ul class="nav nav-tabs" id="main-tabs">
							<li class="active">
								<a href="#">Regular</a>
							</li>
							<li>
								<a href="#">splunkjs.Async</a>
							</li>
						</ul> -->
						<div class="well well-white splunk" id="well-main">
							
							
							<h3>Adding a search manager</h3>
							<p>Search managers can be embedded in your framework app. Searches are run against your Splunk instance. The data that is returned is available to any view that is bound to the search manager. To include an embedded search manager with a static search query, create a <b>SearchManager</b> with a query defined in the <code>"search"</code> property:</p>

<pre class="prettyprint linenums pre-scrollable">
&#123;% searchmanager id="example-search" search="index=_internal | stats count" %&#125; 
</pre>
							<p>Other parameters such as <code>"earliest_time"</code>, <code>"latest_time"</code>, etc. can also be set through properties.</p>


							<h3>Adding a saved search manager</h3>
							<p>To add a saved search, create a <b>SavedSearchManager</b>. You'll need to provide the name of the saved search in the <code>searchname</code> property. To bind views to this manager, provide the ID of this <b>SavedSearchManager</b> in the <code>"managerid"</code> property of the view.</p>

<pre class="prettyprint linenums pre-scrollable">
&#123;% savedsearchmanager id="saved-search" searchname="example-saved-search" %&#125;
</pre>
							
							<p class="learn-more"><a href="{% url 'quickstartfx:steps' id='addSearchBar' %}">Learn about the SearchBar view<img src="{{STATIC_URL}}quickstartfx/img/link-arrow.png" /></a></p>
						</div>
					
				</div>
				<div class="span9 offset1" id="sidebar">
					<div class="well well-white">
						<ul class="nav nav-list ">
							<li class="nav-header">Quick Start</li>
							<li><a href="{% url 'quickstartfx:steps' id='createApp' %}">Create an app</a></li>
							<li class="active"><a href="{% url 'quickstartfx:steps' id='addSearch' %}">Add a search</a>
								<ul>
									<li><a href="{% url 'quickstartfx:steps' id='addSearchBar' %}">Add a search bar</a></li>
									<li class="active"><a href="{% url 'quickstartfx:steps' id='addSearchManager' %}">Add a search manager</a></li>
								</ul>
							</li>
							<li><a href="{% url 'quickstartfx:steps' id='addResultTable' %}">Add search results to table</a></li>
							<li><a href="{% url 'quickstartfx:steps' id='addMap' %}">Map your results</a></li>
							<li><a href="{% url 'quickstartfx:steps' id='addInteractivity' %}">Add interactivity</a></li>
							<li><a href="{% url 'quickstartfx:steps' id='nextSteps' %}">Next steps</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="progress-buttons">
				<a href="{% url 'quickstartfx:steps' id='addSearchBar' %}" class="btn">Back</a>
				<a href="{% url 'quickstartfx:steps' id='addResultTable' %}" class="btn btn-next btn-success">Next</a>
			</div>
			<div style="clear: both;"></div>
		</div>
	    {% component_loader %}
		
	</body>
</html>