
<!DOCTYPE html>
<html>
	<head>
		<title>Splunk Application Framework Quick Start</title>
		<!-- Bootstrap -->
    	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/bootstrap.css"/>
		<link href="{{STATIC_URL}}quickstartfx/css/style.css" rel="stylesheet" type="text/css" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/prettify.css" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="{{STATIC_URL}}quickstartfx/js/prettify.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}quickstartfx/js/jquery-1.8.2.min.js"></script>
	</head>
	<body onload="prettyPrint();">
		<div id="splunk-bar"></div>
		<div id="container">
			
			<h1>Splunk login</h1>
			
			<div class="row" id="content-container">
				<div class="span23" id="login-panels2">
					
						<p>This is an interactive overview&mdash;we'll be showing you live searches on your own data in Splunk. So, you'll need to log in first.</p>
						
						<div class="well well-white login" id="well-main">
							<h2>Splunk credentials</h2>
							<p></p>
	                      	<form action="{% url 'splunkdj.auth.views.login' %}" class="loginForm" method="post" autocomplete="off">
	                          	{% csrf_token %}
								<fieldset>
									<label>Username</label>
									<input type="text" name="{{ form.username.html_name }}" id="{{ form.username.auto_id }}" tabindex=1/>
									<label>Password</label>
									<input type="password" name="{{ form.password.html_name }}" id="{{ form.password.auto_id }}" tabindex=2/>
									<button type="submit" class="btn btn-success btn-next" >Sign in</button>
									<input type="hidden" name="return_to" value="{% url 'quickstartfx:home' %}"/>
								</fieldset>
							</form>
						</div>
					
				</div>
				
				<div class="span9 offset1" id="sidebar">
					<div class="well well-white">
						<ul class="nav nav-list ">
							<li class="nav-header active">Quick Start</li>
							<li><a class="disabled">Create an app</a></li>
							<li><a class="disabled">Add a search</a></li>
							<li><a class="disabled">Add search results to table</a></li>
							<li><a class="disabled">Map your results</a></li>
							<li><a class="disabled">Add interactivity</a></li>
							<li><a class="disabled">Next steps</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>