
<!DOCTYPE html>
<html>
	<head>
		<title>Splunk Application Framework Quick Start</title>
		<!-- Bootstrap -->
    	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/bootstrap.css"/>
		<link href="{{STATIC_URL}}quickstartfx/css/style.css" rel="stylesheet" type="text/css" media="screen">
		<link href="{{STATIC_URL}}quickstartfx/css/prettify.css" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="{{STATIC_URL}}quickstartfx/js/jquery-1.8.2.min.js"></script>
		<style>
		</style>
	</head>
	<body>
		<div id="container">
			<img src="{{STATIC_URL}}quickstartfx/img/splunk-logo.png" id="splunk-logo" />
			<h1 class="tagline">Welcome to the Splunk Application Framework</h1>
			<div class="row" id="login-panels">
				<div class="span15 offset1 quickstart">
					<div class="well well-white">
						<h1>Are you a newbie?</h1>
						<h2>Get started by taking an interactive spin through the framework.</h2>
						<p>Check out the Quick Start to get an idea of what you can do by looking at live code and examples.</p>
						<a href="{% url 'quickstartfx:home' %}" class="btn btn-success btn-next">Quick Start</a>
					</div>
				</div>
				<div class="span15 offset1">
					<div class="well well-white login">
						<h1>Want to jump right in?</h1>
						<h2>Start using the Splunk Application Framework now!</h2>
						<p>Log in using your Splunk credentials:</p>
                      	<form action="{% url 'splunkdj.auth.views.login' %}" class="loginForm" method="post" autocomplete="off">
                          	{% csrf_token %}
							<fieldset>
								<label>Username</label>
								<input type="text" name="{{ form.username.html_name }}" id="{{ form.username.auto_id }}" tabindex=1/>
								<label>Password</label>
								<input type="password" name="{{ form.password.html_name }}" id="{{ form.password.auto_id }}" tabindex=2/>
								<button type="submit" class="btn btn-success btn-next" >Sign in</button>
								<input type="hidden" name="return_to" value="{{ return_to }}"/>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<p id="login-footer">© 2005-2013 Splunk Inc. Application Framework 1.0.1</p>
		</div>
		
	</body>
</html>