
@import url("/static/css/bootstrap.min.css");
@import url("/static/css/pages/dashboard-simple-bootstrap.min.css");

/* ------ main search controls ----- */

.viewHeader, .mainSearchControls {
	padding-left: 20px; 
	margin-right: 350px;
}

.mainSearchControls {
	border-bottom: none !important;
}

.TimeRangePicker a {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #E9E9E9;
	background-image: linear-gradient(to bottom, #F5F5F5, #DCDCDC);
	background-repeat: repeat-x;
	border-color: #B7B7B7 #AEAEAE #989898;
	border-image: none;
	border-left: 1px solid #AEAEAE;
	border-radius: 4px 4px 4px 4px;
	border-right: 1px solid #AEAEAE;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	color: #333333;
	text-shadow: 0 1px 0 #FFFFFF;
}

.TimeRangePicker .timeRangeActivator {
	padding: 1px 0 1px 10px;
	margin-right: 10px;
}

.TimeRangePicker .timeRangeActivatorWrapper {
	min-width: 85px;
}

button.splButton-primary, button.splButton-secondary, button.splButton-tertiary {
	height: 24px;
}

.mainSearchControls .splButton-primary, .mainSearchControls .splButton-secondary, .mainSearchControls .splButton-tertiary {
	padding: 0px;
}

.solndropdown-label-container {
	cursor: default;
	display: block;
	float: none !important;
	font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 5px;
}

.SOLNDropdown {
    /*float: left;*/
    margin-right: 10px;
}

.SOLNDropdown .solndropdown-container input, .SOLNDropdown .solndropdown-container ui-combobox {
	font-family: "Roboto","Droid","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 8px;
	width: inherit;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #E9E9E9;
    background-image: linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* IE10 */ 
    background-image: -ms-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* Opera */
     background-image: -o-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* IE9 and earlier */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DCDCDC', GradientType=0);
    
    background-repeat: repeat-x;
    border-radius: 4px 0px 0px 4px;
    border-color: #B7B7B7 #AEAEAE #989898;
    border-image: none;
    border-left: 1px solid #AEAEAE;
    border-right: none !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    color: #333333;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
}

.SOLNDropdown .solndropdown-container a {
	height: 24px;
	line-height: 24px;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #E9E9E9;
    background-image: linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* IE10 */ 
    background-image: -ms-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* Opera */
     background-image: -o-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(to bottom, #F5F5F5, #DCDCDC);
    
    /* IE9 and earlier */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DCDCDC', GradientType=0);
    
    background-repeat: repeat-x;
    border-radius: 0px 4px 4px 0px;
    border-color: #B7B7B7 #AEAEAE #989898;
    border-image: none;
    border-left: none !important;
    border-right: 1px solid #AEAEAE;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    color: #333333;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
}

.SOLNDropdown .ui-state-default .ui-icon {
	background-image: url("images/ui-icons_808080_256x240.png") !important;
}

#TimeRangePicker_0_13_0 {
	clear: none !important;
	float: left;
	padding-top: 17px;
}

#SubmitButton_0_14_0 {
	float: left;
	padding-top: 22px;
}

/* ------ page controls ----- */
div.pageControls {
    border: none;
    padding-top: 0px;
}

.pageControls fieldset {
	padding: 2px 0 0;
}

.JobStatus {
	background-color: inherit;
}

.JobStatus .splHeader {
	height: 16px;
	line-height: 16px;
	padding-top: 8px;
}

.JobStatus .output h2 {
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	line-height: 16px;
}

.JobStatus .output .complete h2 {
	background: url("/en-US/static/@184595.82/img/skins/default/bg_job_status.png") no-repeat scroll 0 -19px rgba(0, 0, 0, 0)
}

#Paginator_0_18_2 {
	height: auto;
}

/* ------ resultsArea ------ */
.resultsArea .ServerSideInclude {
	background-color: #F7F7F7;
	padding-top: 10px;
	padding-bottom: 0px;
}

.resultsArea .EventsViewer {
	background-color: #F7F7F7;
	padding-top: 0px;
	padding-bottom: 0px;
}

.resultsArea .EventsViewer .chunk .list {
	padding-top: 0px;
}

/*
 * The code below is necessary to disable an actions menu that does not show the actual menu.
 */
.EventsViewer .default .noactions {
    opacity: 0.8;
    padding: 3px;
    background-color: #999999;
    background-position: -23px -323px;
    border: 1px solid #999999;
    border-radius: 2px 2px 2px 2px;
}

.EventsViewer .default:hover .noactions {
    opacity: 1;
}

/*
 * The following will set the view details button to a disabled looking color:
 */
a.details_disabled {
	color: #BBB;
}

/*
 * The following is for styling the dropdowns:
 */ 
.ui-menu-item:not(:last-child){
    border-bottom: dotted 1px #ccc;   
}

ul.ui-menu{
    border-top-radius: 0px !important;
    background-image: none !important;
    background-color: white;
    border: 1px solid #bbb;
}

 li.ui-menu-item > a.ui-state-hover{
    border: 1px solid #eee !important;
    background: #f2f2f2 !important;
    color: #000;
    border-radius: 0px;
}

/*
 * Fix for SOLNESS-4517:
 */
 .SplunkModule{
    padding-top: 0;
    padding-left: 0;
 }
 
.solntextinput-container .SOLNTextInput{
    margin: 0;
 }
 
/*
 * Fix for SOLNESS-4312:
 */
input.SOLNTextInput{
    width: 175px;
}
 
.SplunkModule.SOLNTextInput{
    width: 198px;
    padding-bottom: 10px;
    height: 50px;
}
 
.SplunkModule.SOLNDropdown{
    height: 50px;
    padding-bottom: 10px;
}
 
.solntextinput-container{
    height: 26px;
}
