<div class="KP-holder <% 
	if ( !isNaN(delta) && delta > 0){ 
	%>up <%
	}
	else if( !isNaN(delta) && delta < 0 ) {
	%>down <%
	}
	else {
	%>no-change <%
	}
	
	if(invert){
	%>inverted <%
	} 
	else {
	%>non-inverted <%
	}
	
	if( threshold === null || isNaN(threshold)  ){
	%>no-threshold <%
    }
    else if( value >= threshold ){
    %>over-threshold <%
    }
    else if( value < threshold ){
    %>under-threshold <%
    }
    else{
    %>within-threshold <%
    }%>">
	<div class="KP-value-description"><%- title %></div>
	<div class="KP-main-value ">
		<div class="KP-subtitle"><%- subtitle %></div>
		<div class="KP-value">
			<%
			if (drilldown_uri){
			%><a href="<%-drilldown_uri%>"><%- value_readable %></a>
			<%
			}
			else {
			%><%- value_readable %><%
			} %>
			<span class="KP-value-suffix"><%-value_suffix%> </span>
		</div>
		<div class="KP-details">
			<div class="KP-delta icon"></div>
			<div class="KP-delta"> <%
			if(!isNaN(delta) && delta > 0){
			%>+<%-delta_readable%><%
			}
			else if(!isNaN(delta)){
			%><%-delta_readable%><%
			}%> </div>
		</div>
	</div>
	<div class="delete"><a href="#"></a></div>
	<div class="control-group editable-item threshold-holder">
	   <label class="control-label">Threshold:</label>
	   <input class="input-mini threshold" type="text" value="<%-threshold_orig%>" placeholder="Undefined">
	<div>
</div>