  <div class="bottomContainer">
    <div class="input input-timerangepicker timeRangePicker" id="timeRangePicker">
        <label>&nbsp;</label>
    </div>

    <svg id="timeRange" height="<%= height %>" width="<%= width %>">
      <g class="timeRangeContainer" transform="<%= outer_translate %>">
        <line x0="0" x1="843" class="lightTopBorder"/>

        <line x0="0" x1="0" class="borderTopLeft"/>
        <line x0="0" x1="0" class="borderTopRight"/>

        <rect class="border" transform="translate(0,-1)" width="843" height="51"></rect>
        <g class="outerTimeRange" transform="<%= translate %>"></g>
        <g class="lineChart" transform="translate(0,0)"></g>
        <g class="innerTimeRange">
          <rect class="blueHighlight" width="<%= width %>" height="<%= height %>"></rect>

          <g class="innerTimeRangeInfo">
            <g class="totalTime">
              <rect height="20"/>
              <text dy="15"></text>
            </g>
            <g transform="translate(0,35)">
              <g class="startTime"><text transform="translate(0,0)"></text></g>
              <g class="endTime"><text transform="translate(-45,0)"></text></g>
            </g>
          </g>
          <g class="grippers">
            <g class="gripper left">
              <g class="gripperOffset" transform="translate(-4,0)">
                <line x1="4" y1="36" x2="4" y2="-14"/>
                <rect width="10" height="22" transform="translate(0,0)"/>

                <line class="gripperInnerLine" x1="2" x2="2" y1="0" y2="22"/>
                <line class="gripperInnerLine" x1="5" x2="5" y1="0" y2="22"/>
                <line class="gripperInnerLine" x1="8" x2="8" y1="0" y2="22"/>
              </g>
            </g>

            <g class="gripper right">
              <g class="gripperOffset" transform="translate(-5,0)">
                <line x1="4" y1="36" x2="4" y2="-14"/>
                <rect width="10" height="22" transform="translate(0,0)"></rect>

                <line class="gripperInnerLine" x1="2" x2="2" y1="0" y2="22"/>
                <line class="gripperInnerLine" x1="5" x2="5" y1="0" y2="22"/>
                <line class="gripperInnerLine" x1="8" x2="8" y1="0" y2="22"/>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>

  </div>
