
[Threat - Threat List Activity - Rule]
alert.suppress                = 0
action.risk                   = 1
action.risk._risk_score       = 15
action.risk._risk_object      = src
action.risk._risk_object_type = system
cron_schedule                 = */5 * * * *
disabled                      = False
dispatch.earliest_time        = -5m@m
dispatch.latest_time          = +5m@m
search                        = | stats count | eval risk_score=37 | eval src="1.2.3.4"