<!-- ${copyright} -->
<!-- shameless copy paste of the core base.html modified to allow for extra routes -->

<%!
if cherrypy.config['product_type'] == 'hunk':
	faviconFile = 'favicon_hunk.ico'
elif cherrypy.config['product_type'] == 'enterprise':
	faviconFile = 'favicon.ico'
else:
	faviconFile = 'favicon.ico'
%>\
<!doctype html>
<!--[if lt IE 7]> <html lang="${i18n.current_lang()[0]|h}" class="no-js ie  lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>	<html lang="${i18n.current_lang()[0]|h}" class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>	<html lang="${i18n.current_lang()[0]|h}" class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]>	<html lang="${i18n.current_lang()[0]|h}" class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="${i18n.current_lang()[0]|h}" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>${_('Loading...')}</title>
	<meta name="description" content="listen to your data" />
	<meta name="author" content="Splunk Inc." />
	<meta name="viewport" content="width=1024, initial-scale=1.0" />
	<link rel="shortcut icon" href="${make_url('/static/img/' + faviconFile)}" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="${make_url('/static/img/bookmark/apple-icon-57x57-precomposed.png')}" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="${make_url('/static/img/bookmark/apple-icon-72x72-precomposed.png')}" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="${make_url('/static/img/bookmark/apple-icon-114x114-precomposed.png')}" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="${make_url('/static/img/bookmark/apple-icon-144x144-precomposed.png')}" />
	<meta name="msapplication-TileColor" content="#65A637">
	<meta name="msapplication-TileImage" content="${make_url('/static/img/bookmark/ms-tileicon-144x144.png')}">
	<% page_css = page.replace('_','-') %>
	<% 
	css_less_qs = {} 
	if hasattr(cherrypy.request, 'guest_pass') and cherrypy.request.guest_pass:
		css_less_qs['guest_pass'] = 1
	%>
	<!-- DASH-GORDON -->
	% if splunk.util.normalizeBoolean(cherrypy.config.get('minify_css')):
		<link rel="stylesheet" type="text/css" href="${make_url('/static/css/build/bootstrap.min.css', _qs=css_less_qs)}" />
		<link rel="stylesheet" type="text/css" media="all" href="${make_url('/static/css/pages/dashboard-simple-bootstrap.min.css')}" />
		<link rel="stylesheet" type="text/css" media="all" href="${make_url('/static/app/search/dashboard.css')}" />
		<!-- Page specific css could be inserted here -->
		<!-- <link rel="stylesheet" type="text/css" href="${make_url('/static/css/build/pages/%s-bootstrap.min.css' % page_css, _qs=css_less_qs)}" /> -->
	% else:
		<link rel="stylesheet/less" type="text/css" media="all" href="${make_url('/static/less/base/bootstrap.less', _qs=css_less_qs)}" />
		<link rel="stylesheet/less" type="text/css" media="all" href="${make_url('/static/less/pages/%s-bootstrap.less' % page_css, _qs=css_less_qs)}" />
		<!-- no cache fix for when not on localhost -->
		<script type="text/javascript"> less = {}; less.env = 'development';</script>
		<script src="${make_url('/static/js/contrib/less-1.3.3.min.js')}"></script>
	% endif
	<!-- BUBBLES 
	% if splunk.util.normalizeBoolean(cherrypy.config.get('minify_css')):
		<link rel="stylesheet" type="text/css" href="${make_url('/static/css/bootstrap.min.css')}" />
		<link rel="stylesheet" type="text/css" href="${make_url('/static/css/pages/%s-bootstrap.min.css' % page_css)}" />
	% else:
		<link rel="stylesheet/less" type="text/css" media="all" href="${make_url('/static/less/base/bootstrap.less')}" />
		<link rel="stylesheet/less" type="text/css" media="all" href="${make_url('/static/less/pages/%s-bootstrap.less' % page_css)}" />
		<link rel="stylesheet" type="text/css" href="${make_url('/static/js/contrib/jquery.colorPicker.css')}" />
		<!-- no cache fix for when not on localhost - ->
		<script type="text/javascript"> less = {}; less.env = 'development';</script>
		<script src="${make_url('/static/js/contrib/less-1.3.3.min.js')}"></script>
	% endif
	-->
	<!--[if IE 7]><link rel="stylesheet" href="${make_url('/static/css/sprites-ie7.css', _qs=css_less_qs)}"><![endif]-->
</head>
<body>
	${next.body() if hasattr(next, 'body') else ''}
	<!-- live to code, code to live... -->
	<% 
	config_qs = dict(autoload=1)
	if hasattr(cherrypy.request, 'guest_pass') and cherrypy.request.guest_pass:
		config_qs['guest_pass'] = 1
	%>
	<script src="${make_url('/config', _qs=config_qs)}"></script>
	<script src="${make_url('/static/js/i18n.js')}"></script>
	<script src="${make_url('/i18ncatalog?autoload=1')}"></script>
	<script>
	__splunkd_partials__ = ${json_decode(splunkd)};
	</script>
	## % if splunk.util.normalizeBoolean(cherrypy.config.get('minify_js')):
	## Re-implement once optimized page.built is created
	% if False:
		<!-- #FIXME: need to clarify what goes here for a built page, probably need to include the require config-->
		<script src="${make_url('/static/app/SA-ThreatIntelligence/pages/built/%s.built.js' % page)}"></script>
	% else:
		<script src="${make_url('/static/js/contrib/require.js')}"></script>
		<script src="${make_url('/static/js/profiles/shared.js')}"></script>
		<script src="${make_url('/static/js/contrib/require_dev_config.js')}"></script>
		<script>
			require.config({ 
				baseUrl: "${make_url('/static/js')}",
				paths: {
					"app-css": "${make_url('/static/app/SA-ThreatIntelligence/css')}",
					"app-js": "${make_url('/static/app/SA-ThreatIntelligence/js')}",
					"app-components": "${make_url('/static/app/SA-ThreatIntelligence/js/components')}",
					"app-pages": "${make_url('/static/app/SA-ThreatIntelligence/js/pages')}"
				}
			});
		</script>
		% if splunk.util.normalizeBoolean(cherrypy.config.get('js_no_cache')):
			<script>
				require.config({ urlArgs: 'cachebuster=' +  (new Date()).getTime() });
			</script>
		% endif:
		<script>
			require([ 'app-pages/${page|h}' ]);
		</script>
	% endif
</body>
</html>
