<%page expression_filter="h"/>
<%inherit file="//layout/admin_lite.html"/>
<%namespace name="lib" file="//lib.html" import="*" />
<%namespace name="helpers" file="//admin/_helpers.html" import="*"/>

<%def name="title()">${_('Data inputs')} - ${parent.title()}</%def>
<%def name="get_breadcrumbs()">
    <%
        return breadcrumbs
    %>
</%def>

<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/splunk_datapreview/preview.css']}" />
</%def>

<%
# prepare breadcrumbs for passing as an argument
from splunk.appserver.mrsparkle.lib import util
bc_str = util.build_breadcrumbs_string(breadcrumbs[:-2])

if input_type == 'file':
    input_label = _('file/directory')
    section_title = _('Add file/directory data')
    help_text = _('Point Splunk at a single file representative of the data you want to index.')
    example_text = _('On Windows: c:\\apache\\apache.error.log, On Unix: /var/log/foo.log')
elif input_type == 'tcp':
    input_label = _('TCP')
    section_title = _('Add TCP network data')
    help_text = _('Point Splunk at a single file representative of the TCP data you want to index.')
    example_text = _('On Windows: c:\\tmp\\tcpdump_capture.log, On Unix: /tmp/tcpdump_capture.log')
elif input_type == 'udp':
    input_label = _('UDP')
    section_title = _('Add UDP data')
    help_text = _('Point Splunk at a single file representative of the UDP data you want to index.')
    example_text = _('On Windows: c:\\tmp\\udpdump_capture.log, On Unix: /tmp/udpdump_capture.log')
else:
    input_label = _('generic')
    section_title = _('Add data')
    help_text = _('Point Splunk at a single file representative of the data you want to index.')
    example_text = _('On Windows: c:\\apache\\apache.error.log, On Unix: /var/log/foo.log')

%>

<div class="spl-gdi-wrapper spl-prompt-message-layout"> 
    <ul class="steps splClearfix">
            
            <li class="active">
                <em>1</em>
                <h2>${_('Preview data')}</h2>
            </li>
            
            <li>
                <em>2</em>
                <h2>${_('Add data input')}</h2>
            </li>
    </ul>
 	
	
    <form id="prompt_form">
        <input type="hidden" name="cancel_link" id="cancel_link" value="${cancel_link}"/>
        <input type="hidden" name="manual_link" id="manual_link" value="${manual_link}"/>
        <input type="hidden" name="preview_base_link" id="preview_base_link" value="${preview_base_link}"/>
        <input type="hidden" name="ns" id="ns" value="${ns}"/>
        
        <div id="preview_option" class="dp_choice">
            <div class="dp_radio">
                <input type="radio" class="radio" checked="checked" value="preview" name="entry_type" id="entry_type_preview" />
            </div>
            <div class="dp_choice_title">
                 <label for="entry_type_preview" class="major_option">${_('Preview data before indexing')}<a href="${generateSelfHelpLink('custom.splunk_datapreview.steps')}" class="spl-external-link spl-icon-external-link-xsm" target="_blank">${_('Learn more')}</a></label>
            </div>
            <div class="dp_choice_detail">                
                <p class="dp_desc">${help_text}</p>
                <p class="dp_notice">${_('Note: Splunk will only preview the first %s of the file.') % i18n.format_bytes(preview_limit_bytes)}</p>
                <div class="errors"></div>
                <p><label for="appfile"> 
                    ${_('Path to file on the server')}
                </label> 
                </p>
                <input type="textfield" size="30" name="filepath" id="filepath" value="${source}" /> 
                <input type="button" id="spl-ctrl-filepicker-button" class="short browse_button" name="spl-ctrl-filepicker-button" value="${_('Browse server')}" />
                <div class="fileLoader"></div>
                <p class="exampleText"><em>${example_text}</em></p>
            </div>
        </div>

        <div id="skip_option" class="dp_choice">
            <div class="dp_radio">
                <input type="radio"  class="radio" name="entry_type" value="manual" id="entry_type_skip" />
            </div>
            <div class="dp_choice_title">
                 <label for="entry_type_skip" class="major_option">${_('Skip preview')}</label>
            </div>
            <div class="dp_choice_detail">
                <div class="adminFormItem"> 
                    <p class="dp_desc">${_('Skip preview and manually configure your input.')}</p>
                </div> 
            </div>
        </div>
    </form>


    <!-- Start button bar --> 
    <div class="jmFormActions splClearfix"> 
        <button class="splButton-primary" href="" id="continue_button">
            <span>${_('Continue')}</span> 
        </button> 
        <a class="splButton-secondary" href="${cancel_link}">
            <span>${_('Cancel')}</span> 
        </a> 
    </div> 

</div> 

<script>

    function filePathExists(path) {
        var d = $.Deferred();
        var url = Splunk.util.make_full_url('/tree/eai_proxy', {'eai_path': 'admin/file-explorer', 'root': path});
        $.ajax(url)
            .done(function(data) {
                if (data.success) {
                    d.resolve(path);
                } else {
                    d.reject();
                }
            })
            .fail(d.reject);

        return d.promise();
    }
    
    function showFileBrowser() {
        var elTarget = 'input#filepath'
        var fb_popup = Splunk.Popup.TreePopup(elTarget, 
                                                    "${_('File browser')}", 
                                                    {'eai_path': 'admin/file-explorer', 
                                                     'selection_mode': 2,
                                                     'separate_children': 1,
                                                     'start_node': Splunk.util.escapeBackslash($(elTarget).val())
                                                    },
                                                    'wideTreeviewPopup');
        
    }
    
    function handleContinue() {
        var url;
        var mode = $('input[name=entry_type]:checked').val();
        
        hideErrors();

        var path = $.trim($('#filepath').val());
        switch (mode) {
            case 'preview':
            if (!path) {
                var err = "${_('Please enter a file path')}";
                pushError(err);
                showErrors();
                focusInput();
                return false;
            }
            $('.fileLoader').css('display','inline-block');
            filePathExists(path).pipe(
                function(path) {
                    url = $('#preview_base_link').val()
                        + '?' + $.param({
                            return_to: $('#cancel_link').val(),
                            reset_to: document.location,
                            source: path,
                            ns: $('#ns').val(),
                            breadcrumbs: "${bc_str}"
                        });
                    window.location.href = url;
                    return true;
                },
                function() {
                    var err = "${_('File path does not exist')}";
                    pushError(err);
                    showErrors();
                    focusInput();
                    $('.fileLoader').hide();
                    return false;
                });
                
                break;

            case 'manual':
                url = $('#manual_link').val();
                /* to be uncommented in Flava
                var query = {'def.name': path};
                var pathQuery = url.split('?');
                if (pathQuery.length == 2) {
                    query = $.extend(query, Splunk.util.queryStringToProp(pathQuery[1]));
                }
                url = pathQuery[0] + '?' + Splunk.util.propToQueryString(query);
                */
                break;
            
            default:
                break;
        }

        if (url) {
            window.location.href = url;
        }
        return false;
    }
    
    function handleSkip() {
        var url = $('#manual_link').val();
        if (url) {
            window.location.href = url;
        }
        return false;
    }
    
    function showErrors() {
        $('.errors').show();
    }
    
    function pushError(error) {
        $('.errors').empty().text(error);
    }
    
    function hideErrors() {
        $('.errors').hide();
    }

    function focusInput() {
        $('#filepath').focus();
    }
    
    function handleFileFocus() {
        $('#entry_type_preview').prop('checked', true);
    }

    $(function() {
        $('#prompt_form').bind('submit', handleContinue);
        $('#continue_button').bind('click', handleContinue);
        $('#skip_button').bind('click', handleSkip);
        $('#filepath').bind('focus change', handleFileFocus);
        $('#spl-ctrl-filepicker-button').bind('click', showFileBrowser);
        $('#filepath').focus();
    });

</script>
