May 25 2011 18:39:01 app="Splunk" StartMode=Disabled StartType=startup file_path=/System/Library/StartupItems/Splunk
May 25 2011 18:39:01 app="QuickTimeStreamingServer" StartMode=Auto StartType=startup file_path=/System/Library/StartupItems/QuickTimeStreamingServer
May 25 2011 18:39:01 app="IPFailover" StartMode=Auto StartType=login file_path=/System/Library/StartupItems/IPFailover