
[identityLookup]
## Perform matches in the following order
match_order = exact, email_short, convention

## Perform exact matches 
exact = 1

## Do not perform email matches (also implied by match_order)
email = 0

## Do not perform email_short matches (overrides match_order)
email_short = 0

## Perform convention matches
convention = 1

## Matching should be case sensitive
case_sensitive = 1

## Convention match; first character of first name, seperated by a period, followed by all characters of last name
convention.0 = first(1).last()

## Convention match; first 4 characters of last name, followed by first 3 characters of the first name
convention.1 = last(4)first(3)

## Convention match; first character of first name, seperated by an underscore, followed by all characters of last name
convention.2 = first(1)_last()

## Convention match; prefix of "ADMIN_" (including the underscore), first character of first name, followed by all characters of last name
convention.3 = ADMIN_first(1)last()