/* Adjust columns to 990px container: 33 columns = 30px columns, 30px margins */

.row {
  margin-left: 0;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 0;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 990px;
}
.span33 {
  width: 990px;
}
.span32 {
  width: 960px;
}
.span31 {
  width: 930px;
}
.span30 {
  width: 900px;
}
.span29 {
  width: 870px;
}
.span28 {
  width: 840px;
}
.span27 {
  width: 810px;
}
.span26 {
  width: 780px;
}
.span25 {
  width: 750px;
}
.span24 {
  width: 720px;
}
.span23 {
  width: 690px;
}
.span22 {
  width: 660px;
}
.span21 {
  width: 630px;
}
.span20 {
  width: 600px;
}
.span19 {
  width: 570px;
}
.span18 {
  width: 540px;
}
.span17 {
  width: 510px;
}
.span16 {
  width: 480px;
}
.span15 {
  width: 450px;
}
.span14 {
  width: 420px;
}
.span13 {
  width: 390px;
}
.span12 {
  width: 360px;
}
.span11 {
  width: 330px;
}
.span10 {
  width: 300px;
}
.span9 {
  width: 270px;
}
.span8 {
  width: 240px;
}
.span7 {
  width: 210px;
}
.span6 {
  width: 180px;
}
.span5 {
  width: 150px;
}
.span4 {
  width: 120px;
}
.span3 {
  width: 90px;
}
.span2 {
  width: 60px;
}
.span1 {
  width: 30px;
}
.offset33 {
  margin-left: 990px;
}
.offset32 {
  margin-left: 960px;
}
.offset31 {
  margin-left: 930px;
}
.offset30 {
  margin-left: 900px;
}
.offset29 {
  margin-left: 870px;
}
.offset28 {
  margin-left: 840px;
}
.offset27 {
  margin-left: 810px;
}
.offset26 {
  margin-left: 780px;
}
.offset25 {
  margin-left: 750px;
}
.offset24 {
  margin-left: 720px;
}
.offset23 {
  margin-left: 690px;
}
.offset22 {
  margin-left: 660px;
}
.offset21 {
  margin-left: 630px;
}
.offset20 {
  margin-left: 600px;
}
.offset19 {
  margin-left: 570px;
}
.offset18 {
  margin-left: 540px;
}
.offset17 {
  margin-left: 510px;
}
.offset16 {
  margin-left: 480px;
}
.offset15 {
  margin-left: 450px;
}
.offset14 {
  margin-left: 420px;
}
.offset13 {
  margin-left: 390px;
}
.offset12 {
  margin-left: 360px;
}
.offset11 {
  margin-left: 330px;
}
.offset10 {
  margin-left: 300px;
}
.offset9 {
  margin-left: 270px;
}
.offset8 {
  margin-left: 240px;
}
.offset7 {
  margin-left: 210px;
}
.offset6 {
  margin-left: 180px;
}
.offset5 {
  margin-left: 150px;
}
.offset4 {
  margin-left: 120px;
}
.offset3 {
  margin-left: 90px;
}
.offset2 {
  margin-left: 60px;
}
.offset1 {
  margin-left: 30px;
}

/* Styling */

body { background-color: #edede7; }
            
h1 { color: #231f20; font-size: 36px; font-weight: normal; }
h2 { color: #5a964b; font-size: 24px; line-height: 24px; font-weight: normal; margin-bottom: 5px; }
h3 { color: #231f20; font-size: 21px; margin: 20px 0px; }
h3:first-child,
div#sign-in + h3 { margin-top: 0px; }



code, pre { font-size: 14px; }

code { padding-top: 0px; padding-bottom: 0px; }

pre { color: #21409a; margin: 20px 0px 30px; border-color: #eeeeee; white-space: pre; word-wrap: normal; overflow: auto }
pre li { line-height: 24px; }
pre span.red { color: #be1e2d; }
pre span.green { color: #00a79d; }

p { font-size: 14px; margin-bottom: 10px; line-height: 23px; }

/*.btn {padding: 0px 24px; line-height: 30px; height: 30px; font-size: 14px; }*/
.btn-next { 
    margin-left: 10px; 
    background-color: #8eb46a;
    background-image: -moz-linear-gradient(top, #8eb46a, #668745);
    background-image: -ms-linear-gradient(top, #8eb46a, #668745);
    background-image: -o-linear-gradient(top, #8eb46a, #668745);
    background-image: -webkit-linear-gradient(top, #8eb46a, #668745);
    background-image: linear-gradient(to bottom, #8eb46a, #668745); 
    padding: 0px 24px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
.btn-next:hover { background-color: #668745;  }
.btn-continue { float: right; color: #fff; font-weight: bold; 
    background-image: -moz-linear-gradient(top, #0083cc, #0068b8);
    background-image: -ms-linear-gradient(top, #0083cc, #0068b8);
    background-image: -o-linear-gradient(top, #0083cc, #0068b8);
    background-image: -webkit-linear-gradient(top, #0083cc, #0068b8);
    background-image: linear-gradient(to bottom, #0083cc, #0068b8);
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    font-size: 12px;
    margin-top: 20px;
}
.btn-continue:hover { background-color: #0068b8; }
.btn-group { display: inline-block; }

.progress-buttons .btn {
    padding: 0px 24px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
}
.progress-buttons .btn-next:hover { background-image: none; background-color: #668745;  }

.well { padding: 29px; border: 1px solid #cccccc; }
.well-white { background-color: #fff; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

#well-main { 
    margin: 20px 0px 0px;
    min-height: 400px; /* Make sure main content is longer than sidebar */
    
} 

ul + #well-main {  -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    margin: 0px;    
}

#well-main *:last-child {   margin-bottom: 0px;}

#well-main div.column { background-color: whiteSmoke; float: left; width: 238px; padding: 30px; border: 1px solid #eee; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
#well-main div.column  + div.column { margin-left: 30px; }

div#splunk-bar { width: 100%; height: 40px; 
  background: #232323; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyMzIzMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzIzMjMyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #232323 0%, #323232 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#232323), color-stop(100%,#323232)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #232323 0%,#323232 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #232323 0%,#323232 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #232323 0%,#323232 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #232323 0%,#323232 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#323232',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
 }
    
div#container { width: 990px; margin: 20px auto; padding: 60px 0px 30px; }

div.progress-buttons { float: right; }
div.progress-buttons .btn { margin-left: 10px; }

div#content-container { position: relative; clear: both; margin-bottom: 30px; margin-top: 30px; }

div#main > ul#main-tabs { margin-top: 20px; margin-bottom: -1px; border-bottom: 0px; }
div#main > ul#main-tabs li a:hover { background-color: transparent; border-color: transparent; }
div#main > ul#main-tabs li.active a {border: 1px solid #CCC; border-bottom: 0; background-color: #fff;}

div#sign-in { width: 360px; float: right; background-color: whiteSmoke; margin-top: 0px; margin-left: 30px; margin-bottom: 30px; border: 1px solid #EEE; }


div#sidebar { position: absolute; right: 0px; top: 0px; bottom: 2px; }
div#sidebar > div.well { padding: 0px; height: 100%; margin: 0px;}

p.run-result { float: right; font-size: 16px;  margin-top: 8px; }
p.run-result a { font-weight: bold; color: #1c75bc; }
p.run-result img { vertical-align: -1px; margin-left: 5px; }
/* use <p class="run-result"><a href="#">Run Result <img src="img/run-result.png" /></a></p> */

p.learn-more { font-size: 16px; color: #1c75bc; margin-top: 20px;}
p.learn-more img { vertical-align: -1px; margin-left: 5px; }

div#sidebar ul.nav-list li.nav-header { font-size: 14px; font-weight: normal; text-transform: uppercase; padding: 13px 30px; margin-top: 0px; margin-bottom: 0px; }
div#sidebar ul.nav-list { margin-top: 10px; }
div#sidebar ul.nav-list > li { line-height: 20px; margin-top: 6px; margin-bottom: 6px; }
div#sidebar ul.nav-list > li > a { color: #414042; font-size: 16px; padding: 5px 30px; }
div#sidebar ul.nav-list > li a { background-image: url('../img/check.png'); background-position: 9px 9px; background-repeat: no-repeat; }
div#sidebar ul.nav-list > li.active a, div#sidebar ul.nav-list > li.active ~ li a{ background-image: none; }
div#sidebar ul.nav-list > li > a.disabled { color: #999999; }
div#sidebar ul.nav-list > li.active > a { color: #fff; font-weight: bold; 
    background: -moz-linear-gradient(bottom, #0068b8, #0083cc);
    background: -ms-linear-gradient(bottom, #0068b8, #0083cc);
    background: -o-linear-gradient(bottom, #0068b8, #0083cc);
    background: -webkit-linear-gradient(bottom, #0068b8, #0083cc);
    background: linear-gradient(bottom, #0068b8, #0083cc);
    border-radius: 2px;
}
div#sidebar ul.nav-list > li > ul > li:first-child { padding-top: 10px; }
div#sidebar ul.nav-list > li > ul > li:last-child { padding-bottom: 10px; }
div#sidebar ul.nav-list > li > ul > li { list-style-type: disc; list-style-position: inside; background-color: #edede7; color: #a7a9ac; margin-left: -40px; padding-left: 25px; width: 243px; line-height: 30px; font-size: 16px; }
div#sidebar ul.nav-list > li > ul > li > a {color: #1c75bc; }
div#sidebar ul.nav-list > li > ul > li.active > a { color: #231f20; }



img.sample-image { width: 100%; display: block; margin: 30px 0px; }

input[type=text] { margin-bottom: 30px; width: 350px; }
form button { float: right; }

/* Login page-specific styles */

div#login-panels h2 { margin-top: 20px; margin-bottom: 20px; font-size: 21px; }
div#login-panels > div > div.well { height: 360px; position: relative; }
div#login-panels form { position: absolute; bottom: 30px; width: 390px; margin-bottom:0px;  }
div#login-panels form input[type="text"], div#login-panels form input[type="password"] { width: 380px; margin-bottom: 15px;  }
div#login-panels2 form input { width: 630px; margin-bottom: 15px;  }
div#login-panels2 .login .btn { right: 0px; }
div#login-panels .login .btn { float: right; margin: 0px; }
div#login-panels .quickstart .btn { position: absolute; bottom: 30px; right: 30px; float: none; }
div#login-panels form input {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
img#splunk-logo { width: 240px; margin: 30px auto 30px; display: block}
h1.tagline { text-align: center; margin-top: 30px; margin-bottom: 60px; }
p#login-footer { font-style: italic; font-size: 12px; color: #6d6e71; text-align: center; margin: 60px 0px; }