span.requiredAsterisk {
    color: #AF4444;
    margin-left: 2px;
}

#problemModal .message-icon{
    float: left;
    margin-right: 10px;
    font-size: 15px;
}

.permission_denied{
	margin-top: 32px;
	margin-bottom: 32px;
}

#show-guided-search-editor{
	display: block;
	margin-top: 8px;
}

#risk_object_type{
    max-width:304px;
    margin-left: -10px
}

textarea[name='search']{
    max-width: 300px;
}

.section-even{
	/*
	background-color: #F3f3f3;
	border-top: #EEE solid 1px;
    border-bottom: #EEE solid 1px;
    */
}

.email-action-link{
	margin-top: 8px;
}