{% load i18n %}

<style>
	#rest-content pre.response {
		max-height: 300px;
        /*overflow-x: auto;
        white-space: pre !important;
        word-wrap: normal;*/
	}
	
	#rest-content h3 code {
		display: inline;
	}
	
	#rest-content table th.value {
		width: 100%;
	}
	
	td.key {
		white-space: nowrap;
	}
	
	#rest-content h5 {
		margin-top: 10px;
	}
	
	#rest-content {
		padding-bottom: 10px;
	}
	
	#rest-content h5 a {
		font-size: 12px;
		font-weight: bold;
	}
	
</style>

<div id="rest-content">
{% for call in rest %}
<h5>
	<b>{{call.request.method }}</b> 
	<code style="display: inline;">{{call.request.path}}</code> 
	<span style="float: right;">
		[<a class="reqres-expand" href="#" for="request-details-{{forloop.counter}}">Expand</a>]
	</span>
</h5>

<div id="request-details-{{forloop.counter}}" style="display: none;">
	<h5>{{ call.time }}ms</h5>

	<h5>Request</h5>
	<table>
		<thead>
			<tr>
				<th>Key</th>
				<th class="value">Value</th>
			</tr>
		</thead>
		<tbody>
			<tr class="djDebugOdd">
				<td class="key">Path</td>
				<td>{{ call.request.path }}</td>
			</tr>
			<tr class="djDebugEven">
				<td class="key">Method</td>
				<td>{{ call.request.method }}</td>
			</tr>
			<tr class="djDebugOdd">
				<td class="key">Headers</td>
				<td>{{ call.request.headers }}</td>
			</tr>
			<tr class="djDebugEven">
				<td class="key">Query Arguments</td>
				<td>{{ call.request.query }}</td>
			</tr>
			{% if call.request.body or call.request.post %}
			<tr class="djDebugOdd">
				<td class="key">{% if call.request.body %}Body{% else %}POST Arguments{%endif%}</td>
				<td>{% firstof call.request.body call.request.post %}</td>
			</tr>
			{% endif %}
		</tbody>
	</table>

	<h5>Response</h5>
	<table>
		<thead>
			<tr>
				<th>Key</th>
				<th class="value">Value</th>
			</tr>
		</thead>
		<tbody>
			<tr class="djDebugOdd">
				<td class="key">Status</td>
				<td>{{ call.response.status }}</td>
			</tr>
			<tr class="djDebugEven">
				<td class="key">Headers</td>
				<td>{{ call.response.headers }}</td>
			</tr>
			<tr class="djDebugOdd">
				<td class="key">Response Body</td>
				{% comment %}
				<td><pre class="response">{{ call.response.body }}</pre></td>
				{% endcomment %}
			</tr>
		</tbody>
	</table>
</div>
<hr/>

{% endfor %}
</div>

<script>
	var $ = djdt.jQuery;
	$(".reqres-expand").on("click", function(e) {
		e.preventDefault();
		e.stopPropagation();
		
		var $target = $("#" + $(e.target).attr("for"));
		var isVisible = $target.css("display") !== "none";
	
		$target.toggle();
		$(e.target).text(isVisible ? "Expand" : "Collapse");
	});
</script>