{% load tags %}
{% ensure_request_context %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}listen to your data{% endblock description %}">
    <meta name="author" content="{% block author %}Splunk Inc.{% endblock author %}">

    {% block head %}
        {% block _css %}
        {% endblock _css %}
        {% block css %}
        {% endblock css %}
    {% endblock head %}
</head>

<body class="{% block splunkstyles %}{% endblock splunkstyles %}">
    {% block body %}
        {% block header %}
        {% endblock header %}
        
        {% block content %}
        {% endblock content %}
        
        {% block managers %}
        {% endblock managers %}

        {% block footer %}
        {% endblock footer %}
        
        {% block bottom %}
            
            {% block requires %}
            {% endblock requires %}
        
            {% block _js %}
            {% endblock _js %}
            
            {% block js %}
            {% endblock js %}
        {% endblock bottom %}
    {% endblock body %}
</body>
</html>
