DOS:NETDEV:CISCO-HTTPD-DOS
DOS:NETDEV:D-LINK-DNS-320
DOS:NETDEV:CISCO-SWIPE
DOS:NETDEV:CISCO-IPMOBILITY
DOS:NETDEV:CISCO-SUNND
DOS:NETDEV:CISCO-PIM
DOS:NETDEV:ROUTEFINDER-VPN-DOS
DOS:NETDEV:ASCEND-KILL
DOS:NETDEV:NORTEL-MARLIN
DOS:NETDEV:LIVINGSTON
DOS:NETDEV:NETWORK-3COM-DOS
DOS:NETDEV:CISCO-5000
DOS:NETDEV:ASCEND-KILL2
DOS:NETDEV:HP-LCD-MOD-9001
DOS:NETDEV:HP-LCD-MOD-9100
DOS:NETDEV:LINKSYS-GOZILA-DOS2
DOS:NETDEV:CISCO-SYSLOG-DOS
DOS:NETDEV:WEBJET-FRAMEWORK
DOS:NETDEV:LINKSYS-GOZILA-DOS3
DOS:NETDEV:CISCO-TELNET-BOF1
DOS:NETDEV:WEBJET-WRITETOFILE
DOS:NETDEV:WEBJET-TRAVERSAL
DOS:NETDEV:WEBJET-HTS-DOT
DOS:NETDEV:WEBJET-FW-INFOLEAK
DNS:OVERFLOW:INVALID-POINTER
DNS:OVERFLOW:NAME-TOO-LONG
DNS:OVERFLOW:SIG-OVERFLOW
DNS:OVERFLOW:NXT-OVERFLOW
DNS:OVERFLOW:TOO-LONG-TCP-MSG
DNS:OVERFLOW:INVALID-LABEL-LEN
DNS:OVERFLOW:OPT-OVERFLOW
DNS:OVERFLOW:OPT-DOS
DNS:OVERFLOW:ADM-TCP
DNS:OVERFLOW:BIN
DNS:OVERFLOW:NOOP-RQUERY
DNS:OVERFLOW:TXTRECORD
DNS:OVERFLOW:DNS-ATMA-SIZE-OF
DNS:OVERFLOW:SCO-NAMED2-OF1
DNS:OVERFLOW:SCO-NAMED2-OF2
DNS:OVERFLOW:SPARC-TCP
DNS:OVERFLOW:TCP-RESPONSE
DNS:OVERFLOW:BAD-CHAR-UDP
DNS:OVERFLOW:HOSTNAME-OF
DNS:QUERY:NULL-QUERY
DNS:QUERY:VERSION-QUERY
DNS:QUERY:ENC-STATUS-SPOOF
DNS:QUERY:AUTHORS
DNS:QUERY:HOSTNAME
DNS:EXPLOIT:REQUEST-SHORT-MSG
DNS:EXPLOIT:EMPTY-UDP-MSG
DNS:EXPLOIT:PNTRS-PERNAME-EXCD
DNS:EXPLOIT:EXPLOIT-BIND9-RT
DNS:EXPLOIT:TRANSPOOF-2
DNS:EXPLOIT:POINTER-LOOP
DNS:EXPLOIT:SQUID-PROXY-DOS
DNS:EXPLOIT:TRANSPOOF
DNS:EXPLOIT:MAL-TXT-REC
DNS:EXPLOIT:SQUID-PROXY-PTR-DOS
DNS:EXPLOIT:BIND-ADDSOA
DNS:EXPLOIT:BIND-MULT-RRSET
DNS:AUDIT:TYPE-EXPERIMENTAL
DNS:AUDIT:INVALID-Z
DNS:AUDIT:CLASS-UNKNOWN
DNS:AUDIT:TYPE-UNKNOWN
DNS:AUDIT:RCODE-FORMAT-ERROR
DNS:AUDIT:RCODE-REFUSED
DNS:AUDIT:TYPE-NON-1035
DNS:AUDIT:TYPE-OBSOLETE
DNS:AUDIT:RCODE-NAME-ERROR
DNS:AUDIT:TYPE-ALL
DNS:AUDIT:CLASS-NON-IN
DNS:AUDIT:INVALID-RCODE
DNS:AUDIT:REQ-ANSWERS-IN-QUERY
DNS:AUDIT:REQ-C2S-RESPONSE
DNS:AUDIT:QCLASS-UNEXP
DNS:AUDIT:REP-S2C-QUERY
DNS:AUDIT:REQ-INVALID-HDR-RD
DNS:AUDIT:REQ-INVALID-HDR-RA
DNS:AUDIT:MISMATCHING-AN-CNAME
DNS:AUDIT:REP-QTYPE-UNEXPECTED
DNS:AUDIT:OPT-NMB-EXCEEDED
DNS:AUDIT:REP-MISMATCHING-AN
DNS:AUDIT:RCODE-NOT-IMPL
DNS:AUDIT:REP-MISMATCHING-QD
DNS:AUDIT:AAAA-RR
DNS:TOO-MANY-ERRORS
DNS:BIND-RRSIG-DOS
DNS:CRAFTED-MX
DNS:ISC-BIND-RRSIG-DOS
DNS:BIND-NXT-OVERFLOW2
DNS:BIND-NXT-OVERFLOW3
DNS:NEGANY
DNS:TRAFFIC-TCP
DNS:TRAFFIC-UDP
DNS:MS-FOREFRONT-RCE
DNS:BIND-NXT-OVERFLOW4
DNS:DYNAMICUPDATE
DNS:RESP-SPOOF
DNS:WPADREG
DNS:ISATAPREG
DNS:BIND-NXT-OVERFLOW1
DNS:BIND9-ASSERT-DOS
DNS:MAILENABLE-SPF
DNS:RRSIG-QUERY
DNS:BIND-RRSIG-QUERY-DOS
DHCP:OPT:MISSING-EOO
DHCP:OPT:LOG-BUF-OVERFLOW
DHCP:OPT:BAD-HOSTNAME
DHCP:OPT:DEF-TTL-ZERO
DHCP:OPT:IFMTU-TOO-SMALL
DHCP:OPT:INV-OPT-VAL
DHCP:OPT:MAX-MSG-SIZE-2-SMALL
DHCP:OPT:LEASE-TIME-ZERO
DHCP:OPT:INV-NB-NODE-TYPE
DHCP:OPT:INV-OPT-LEN
DHCP:OPT:MAX-DGM-SZ-2-SMALL
DHCP:OPT:TCP-DEF-TTL-ZERO
DHCP:OPT:MS-OPT-OF
DDOS:TRIN00:DAEMON-CMD-SHI
DDOS:TRIN00:DAEMON-CMD-XYZ
DDOS:TRIN00:DAEMON-TO-MSTR1-PKT
DDOS:TRIN00:MASTER-CMD-KILLDEAD
DDOS:TRIN00:DAEMON-TO-MSTR2-PKT
DDOS:TRIN00:MASTER-CMD-MDOS
DDOS:TRIN00:MASTER-PROMPT
DDOS:TRIN00:MASTERPW-DEF-KDIE
DDOS:TRIN00:MASTERPW-DEF-STRTUP
DDOS:TRIN00:MASTER-CMD-MPING
DDOS:TRIN00:DAEMON-TO-MASTER-1
DDOS:TRIN00:DAEMON-TO-MASTER-2
DDOS:TRIN00:MASTERPW-DEF-REMOTE
DDOS:TRIN00:MASTER-CMD-MDIE
DDOS:TRIN00:MASTER-CMD-DOS
DDOS:TRIN00:MASTER-CMD-MSIZE
DDOS:TRIN00:MASTERPW-DEFLT-WIN
DDOS:TRIN00:DAEMON-CMD
DB:ORACLE:TNS:MALFORMED-PORT
DB:ORACLE:TNS:MALFORMED-IP
DB:ORACLE:TNS:SHORT_MSG
DB:ORACLE:TNS:OVERFLOW_MSG
DB:ORACLE:TNS:UNK-COMMAND
DB:ORACLE:TNS:INTERMEDIA-DOS
DB:ORACLE:TNS:TABLEFUNC-ASOWN
DB:ORACLE:TNS:DBMS-OF
DB:ORACLE:TNS:OF
DB:ORACLE:TNS:CMD-EXEC
DB:ORACLE:TNS:TRACE-OF
DB:ORACLE:TNS:AUTH-SESSKEY-BOF
DB:ORACLE:TNS:RDBMS-DOS
DB:ORACLE:TNS:LOOP-DOS
DB:ORACLE:TNS:BEQ-BYPASS
DB:ORACLE:TNS:ORACLE-PRIVESC
DB:ORACLE:TNS:DOS
DB:ORACLE:TNS:UNSAFE-CMD
DB:MYSQL:LOGIN-NO-USER
DB:MYSQL:SHORT-MSG
DB:MYSQL:LOGIN-NO-PSWD
DB:MYSQL:LOGIN-OVERLONG-PSWD
DB:MYSQL:LOGIN-OVERLONG-USER
DB:MYSQL:SELECT-SUB-DOS
DB:MYSQL:IN-NULL-ARG-DOS
DB:MYSQL:MAXDB-CMD
DB:MYSQL:MYSQL-DATE-FS
DB:MYSQL:CREATE-TABLE
DB:MYSQL:MYSQL-LDAP-DOS
DB:MYSQL:MYSQL-PFIELD-TYPE
DB:MYSQL:MYSQL-PASSWORD-OF
DB:MYSQL:UNIQ-SET-COL-JOIN-DOS
DB:MYSQL:SSL-OF
DB:MYSQL:LONG-FUNC
DB:MYSQL:AUTH-BYPASS
DB:MYSQL:ROOT-USER
DB:MYSQL:LOGIN-FAILED
DB:MYSQL:BRUTE-FORCE
DB:MYSQL:MYSQL-USE-DOS
DB:MYSQL:MAXDB-WEB-OF
DB:MYSQL:ZERO-LEN-PW
DB:MYSQL:MAXDB-WEBDAV-OF
DB:MYSQL:COMTABLEDUMP-OF
DB:MYSQL:SINGLE-ROW-DOS
DB:MYSQL:FS-REQUEST
DB:MYSQL:MS-DOS-NAMES-DOS
DB:MYSQL:CREATE-FUNCTION
DB:MYSQL:MAXDB-GET-OF
DB:MYSQL:MYSQL-IFDOS
DB:MYSQL:MAXDB-SERVER-OF