
## correlationsearches.conf

[Access - Excessive Failed Logins - Rule]
security_domain = access
severity = medium
rule_name = Excessive Failed Logins
description = Detects excessive number of failed login attempts (this is likely a brute force attack)
rule_title = 
rule_description = The system $src$ has failed $app$ authentication $count$ times using $user_count$ username(s) against $dest_count$ target(s) in the last hour
drilldown_name = View all login failures by system $src$ for the application $app$
drilldown_search = src=$src$ app=$app$ `authentication`
default_status = new
default_owner = 