/*------------------------------- Custom Icons  ------------------------------*/

td.icon {
    text-align: center;
}

td.icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
}

td.icon .severe {
    color: red;
}

td.icon .elevated {
    color: orangered;
}

td.icon .low {
    color: #006400;
}

.icon-inline i {
    font-size: 18px;
    margin-left: 5px;
}
.icon-inline i.icon-alert-circle {
    color: #ef392c;
}
.icon-inline i.icon-alert {
    color: #ff9c1a;
}
.icon-inline i.icon-check {
    color: #5fff5e;
}

/*----------------------------- Cell Highlighting ----------------------------*/

#local_threatlist_table td.range_low, 
#enabled_threatlist_table td.low  + td + td + td + td + td {
    background-color: #c1ffc3;
    color: #000000;
}

#local_threatlist_table td.range_elevated, 
#enabled_threatlist_table td.elevated + td + td + td + td + td {
    background-color: #ffc57a !important;
    color: #000000;
    font-weight: bold;
}

#local_threatlist_table td.range_severe, 
#enabled_threatlist_table td.severe + td + td + td + td + td  {
    background-color: #d59392 !important;
    color: #000000;
    font-weight: bold;
}

