{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />

    <style>        
        .main-area {
            margin: 0px auto;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            width: 300px;
        }    
    </style>
{% endblock css %}

{% block content %}

    <div>
        <div class="main-area">
            <p>Template message: {{message}}</p>
            <p class="muted">You should also look in the JavaScript console...</p>
        </div>
    </div>

{% endblock content%}

{% block js %}    
    <script>
        console.log("Custom JavaScript Goes Here (look in your template)!");
    </script>
{% endblock js %}