<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css" 
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>
<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/ta_unix_setup.css' % app]}" />
</%def>
<div class="TAUnixMessageContainer">
  <h2>Splunk *nix TA Authorization Failure</h2>
  <p>You do not have sufficient permission to configure the Splunk for *nix add-on.  Click "OK" to go to the Splunk launcher where you can choose another app or add-on.</p>
  <div class="TAUnixOKButton">
    <a target="_parent" href="${make_url('/app/launcher')}" class="splButton-primary"><span>OK</span></a>
  </div>
</div>
