
###### Key Indicator Search ######
[Total Errors]
action.email.reportServerEnabled  = 0
alert.track                       = 0
action.keyindicator               = 0
action.keyindicator.title         = Errors
action.keyindicator.subtitle      = Total Count
action.keyindicator.value         = current_count
action.keyindicator.drilldown_uri = errors_view
action.keyindicator.value_suffix  = 
action.keyindicator.threshold     = 
action.keyindicator.delta         = delta
action.keyindicator.invert        = false
action.keyindicator.group.0.name  = mylittlep0ny
action.keyindicator.group.0.order = 5
action.keyindicator.group.1.name  = mybuddy
action.keyindicator.group.1.order = 0
dispatch.latest_time              = now
search                            = index=_internal earliest=-24h@h latest=+0s error | stats count as current_count | appendcols [search index=_internal earliest=-48h@h latest=-24h@h error | stats count as historical_count] | `get_delta`


###### PostProcess Search ######
[MySearch - Base]
action.email.sendresults = 0
action.postprocess = 1
cron_schedule = */5 * * * *
dispatch.earliest_time = -6m@m
dispatch.latest_time = -1m@m
enableSched = 1
search = index=_internal | stats count by host, sourcetype, source


###### Swim Lane Search ######
[Access - Failed Logins By Asset - Swimlane]
action.email.reportServerEnabled                  = 0
alert.track                                       = 0

## Enable the swimlane
action.swimlane                                   = 1

## Set the swimlane defaults
action.swimlane.title                             = Failed Logins
action.swimlane.color                             = purple
action.swimlane.constraint_method                 = reverse_asset_lookup
action.swimlane.constraint_fields                 = Authentication.src,Authentication.dest
action.swimlane.drilldown_search                  = | datamodel Authentication Authentication search | search $constraints$

dispatch.latest_time                              = now

## Per-view swimlane collections
display.page.asset_investigator.0.collection_name = Default
display.page.asset_investigator.0.order           = 0

display.page.asset_investigator.1.collection_name = Killchain
display.page.asset_investigator.1.title           = Recon
display.page.asset_investigator.1.color           = green
display.page.asset_investigator.1.order           = 3

display.page.my_investigator.0.collection_name    = Default
display.page.my_investigator.0.order              = 0
display.page.my_investigator.0.drilldown_search   = tag=authentication $constraints$

search                                            = | tstats `summariesonly` values(Authentication.action) as action,values(Authentication.src) as src,values(Authentication.user) as user,count from datamodel=Authentication where $constraints$ groupby _time span=1s | `drop_dm_object_name("Authentication")` 
