
@import url("/static/css/bootstrap.min.css");
@import url("/static/css/pages/dashboard-simple-bootstrap.min.css");

.adminContentList h2 {
	font-size:   24px;
	font-weight: 200;
}

.eaiPaginationHeader {
	padding-bottom: 10px;
}