
/**
 * SA-ThreatIntelligence application.css
 */

/* ------ incident_review2 ------ */

/* -- header -- */
.notable_header {
	background: none repeat scroll 0 0 #999999;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0 0 5px #CCCCCC;
	margin-bottom: -1px;
	width: 100%;
}

.notable_header td {
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
}

/* -- renderer -- */
.EventsViewer .splEvent-incident_review2 {
	background: none repeat scroll 0 0 white;
	border: 1px solid #CCCCCC;
	/*border-radius: 5px 5px 5px 5px;*/
	box-shadow: 0 0 5px #CCCCCC;
	margin-bottom: -1px;
	*margin-bottom: -4px; /* IE 7 and below */
}

/* -- mainTable -- */
.EventsViewer .splEvent-incident_review2 .mainTable {
	width: 100%;
}

.EventsViewer .splEvent-incident_review2 .mainTable td {
	padding: 2px 10px;
}

.EventsViewer .splEvent-incident_review2 .mainTable .col1,
.notable_header .col1 {
	vertical-align: middle;
	padding: 5px 0px 6px 5px;
	width: 2%;
}

.EventsViewer .splEvent-incident_review2 .mainTable .col2,
.notable_header .col2 {
	vertical-align: middle;
	padding: 5px 0px 6px 5px;
	width: 3%;
}

.EventsViewer .splEvent-incident_review2 .mainTable .col3,
.notable_header .col3 {
	vertical-align: middle;
	width: 10%;
}

.EventsViewer .splEvent-incident_review2 .mainTable .col4,
.notable_header .col4 {
	text-transform: capitalize;
	vertical-align: middle;
	width: 10%;	
}

.EventsViewer .splEvent-incident_review2 .mainTable .col5,
.notable_header .col5 {
	vertical-align: middle;
	width: 35%;
	
}

.EventsViewer .splEvent-incident_review2 .mainTable .col6,
.notable_header .col6 {
	text-transform: capitalize;
	vertical-align: middle;
	width: 13%;
}

.EventsViewer .splEvent-incident_review2 .mainTable .col7,
.notable_header .col7 {
	vertical-align: middle;
	width: 8%;
}

.EventsViewer .splEvent-incident_review2 .mainTable .col8,
.notable_header .col8 {
	vertical-align: middle;
	width: 13%;
}

.EventsViewer .splEvent-incident_review2 .mainTable .col9,
.notable_header .col9 {
	min-width: 60px;
	vertical-align: middle;
}

.EventsViewer .splEvent-incident_review2 .mainTable .header2 .v {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

/* -- urgencies -- */
.EventsViewer .splEvent-incident_review2 .critical .v {
    background-image: url('images/16_critical.png');
    background-position: 2px;
    background-repeat: no-repeat;
    padding: 3px 0px 2px 24px;
    font-weight: bold;
    color: #d25b3b;
    font-size: 12px;
}

.EventsViewer .splEvent-incident_review2 .high .v {
    background-image: url('images/16_high.png');
    background-position: 2px;
    background-repeat: no-repeat;
    padding: 3px 0px 2px 24px;
    font-weight: bold;
    color: #FF8800;
    font-size: 12px;
}

.EventsViewer .splEvent-incident_review2 .medium .v {
    background-image: url('images/16_medium.png');
    background-position: 2px;
    background-repeat: no-repeat;
    padding: 3px 0px 2px 24px;
    font-weight: bold;
    color: #f0be1b;
    font-size: 12px;
}

.EventsViewer .splEvent-incident_review2 .low .v {
    background-image: url('images/16_low.png');
    background-position: 2px;
    background-repeat: no-repeat;
    padding: 3px 0px 2px 24px;
    font-weight: bold;
    color: #98bf3b;
    font-size: 12px;
}

.EventsViewer .splEvent-incident_review2 .informational .v {
    background-image: url('images/16_informational.png');
    background-position: 2px;
    background-repeat: no-repeat;
    padding: 3px 0px 2px 24px;
    font-weight: bold;
    color: #5378ad;
    font-size: 12px;
}

.EventsViewer .splEvent-incident_review2 .unknown .v {
    background-image: url('images/16_unknown.png');
    background-position: 2px;
    background-repeat: no-repeat;
    padding: 3px 0px 2px 24px;
    font-weight: bold;
    color: #999999;
    font-size: 12px;
}

/* -- details -- */
.EventsViewer .splEvent-incident_review2 .event_details {
	border-top: 1px dotted #CCCCCC;	
	margin: 10px 8% 10px 10%;
	padding-top: 10px;
}

/* -- description -- */
.EventsViewer .splEvent-incident_review2 .rule_description {
	width: 100%; 
}

.EventsViewer .splEvent-incident_review2 .rule_description .header {
	/*color: #73A550;*/
	font-weight: bold; 
}

/* -- compliance -- */
.EventsViewer .splEvent-incident_review2 .compliance {
	padding-top: 10px;
	width: 40%;
}

.EventsViewer .splEvent-incident_review2 .compliance .header {
	/*color: #73A550;*/
	font-weight: bold; 
}

.EventsViewer .splEvent-incident_review2 .compliance_items {
	border: 1px solid #CCCCCC;
	border-bottom: none;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0 0 5px #CCCCCC;
	margin-top: 2px;
	width: 100%;
}

.EventsViewer .splEvent-incident_review2 .compliance_items .header {
	background: none repeat scroll 0 0 #999999;
	color: white;
	font-weight: bold;
}

.EventsViewer .splEvent-incident_review2 .compliance_items .col1 {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 3px 5px;
}

.EventsViewer .splEvent-incident_review2 .compliance_items .col2 {
	border-bottom: 1px solid #CCCCCC;
	padding: 3px 5px;
}

/* -- additional fields -- */
.EventsViewer .splEvent-incident_review2 .additional_fields {
	padding-top: 10px;
	width: 100%;
}

.EventsViewer .splEvent-incident_review2 .additional_fields .header {
	/*color: #73A550;*/
	font-weight: bold;
}

/* -- source -- */
.EventsViewer .splEvent-incident_review2 .source {
	padding-left: 10px;
	width: 100%;
}

.EventsViewer .splEvent-incident_review2 .source .header {
	/*color: #73A550;*/
	font-weight: bold;
}

/* -- drilldown -- */
.EventsViewer .splEvent-incident_review2 .drilldown {
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
}

.EventsViewer .splEvent-incident_review2 .drilldown .header {
	/*color: #73A550;*/
	font-weight: bold;
}

/* -- orig_raw -- */
.EventsViewer .splEvent-incident_review2 .orig_raw {
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
}

.EventsViewer .splEvent-incident_review2 .orig_raw .header {
	/*color: #73A550;*/
	font-weight: bold;
}

/* -- history -- */
.EventsViewer .splEvent-incident_review2 .history {
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
}

.EventsViewer .splEvent-incident_review2 .history .header {
	/*color: #73A550;*/
	font-weight: bold;
}

/* ------ credit_cards ------ */
.credit_card .v {
	background-repeat: no-repeat;
	padding-left: 28px;
	padding-top: 2px;
}

.diners_club_enroute .v {
	background-image: url('images/credit_cards/diners_club.png');
}

.diners_club_carte_blanche .v {
	background-image: url('images/credit_cards/diners_club.png');
}

.american_express .v {
	background-image: url('images/credit_cards/american_express.png');
}

.jcb .v {
	background-image: url('images/credit_cards/jcb.png');
}

.diners_club_international .v {
	background-image: url('images/credit_cards/diners_club.png');
}

.visa_electron .v {
	background-image: url('images/credit_cards/visa_electron.png');
}

.maestro .v {
	background-image: url('images/credit_cards/maestro.png');
}

.visa .v {
	background-image: url('images/credit_cards/visa.png');
}

.mastercard .v {
	background-image: url('images/credit_cards/mastercard.png');
}

.bankcard .v {
	background-image: url('images/credit_cards/bankcard.png');
}

.discover_card .v {
	background-image: url('images/credit_cards/discover.png');
}

.solo .v {
	background-image: url('images/credit_cards/solo.png');
}
