#feedback { font-size: 1.4em; }
.ui-tree-span { 
	font-family: 'segoe ui', Arial, sans-serif;
	font-size: 1.1em;
	float: left;
}
.ui-icon-parent {
	float: left;
	cursor: pointer;
}
.ui-icon-leaf {
	float: left;
}

.noel-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	margin-top: 2px;
}

.noel-icon-magnify-glass {
	background-image: url('/static/app/SA-Utils/images/icon_magnify_glass.png');
}
.noel-icon-plus {
	background-image: url('/static/app/SA-Utils/images/icon_plus.png');
}
.noel-icon-minus {
	background-image: url('/static/app/SA-Utils/images/icon_minus.png');
}

.ui-tree-container { margin-left: 25px; }
.ui-tree-parent { 
	min-width: 225px;
}
.ui-tree-node-box {
	width: 100%;
	min-height: 1.1em;
	clear: both;
	float: left;
	margin: 2px;
}
.ui-tree-node {
	width: 300px;
	min-height: 13px;
	clear: none;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #cdcdcd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 2px;
	padding: 2px;
}

.ui-tree-searchbar {
	background-color:transparent;
	border: 0px solid;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	width: 295px;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	color: #686868;
}
.ui-tree-searchbar:focus {
	outline: none;
}
.searchbar-container {
	width: 317px;
	height: 18px;
	clear: both;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border: 1px solid #cdcdcd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 2px;
	margin: 5px;
}

.ui-tree-node-leaf {
	cursor: pointer;
}

.ui-selecting {
	-moz-box-shadow: inset 0 0 24px #8b9ac0;
	-webkit-box-shadow: inset 0 0 24px #8b9ac0;
	box-shadow: inset 0 0 24px #8b9ac0;
}

.ui-selected { 
	-moz-box-shadow: inset 0 0 24px #d5d5d5;
	-webkit-box-shadow: inset 0 0 24px #d5d5d5;
	box-shadow: inset 0 0 24px #d5d5d5;
}

.ui-tree, .nav-control { 
	clear: both;
	float: left;
}

.ui-search-nomatch {
	display: none;
}

.CodeMirror {
	width: 350px;
}

.CodeMirror-scroll {
	width: 400px;
}

.anubis-header {
	float:left;
	clear:both;
}

.layoutPanel-Name {
	display:block;
	float:right;
	color: #CCCCCC;
}