.KeyIndicatorsView .KP-indicators > .indicator{
    min-height: 130px;
    float: left;
}

/*
 * This is shown when there are no indicators to show.
 */
.KeyIndicatorsView .KP-indicators-empty{
    display:none;
    margin: 10px 10px 10px 10px;
    font-size: larger;
    float: left;
}

/* 
 * Set the grabbing icon to each indicator so that users know they can re-arrange them when in editing mode.
 */
.KeyIndicatorsView .editing > .KP-indicators > .indicator{
    cursor:hand;
    cursor:grab;
    cursor:-moz-grab;
    cursor:-webkit-grab;
}

/*
 * Show an icon indicating that the item has been grabbed. (not yet used)
 */
.KeyIndicatorsView .editing > .KP-indicators > .indicator .grabbing {
  cursor:grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}

/*
 * Setup the holder such that it has enough margin for the editor controls.
 */
.KeyIndicatorsView .KP-main{
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

/*
 * Hide the controls by default, they will be displayed when the user clicks edit.
 */
.KeyIndicatorsView .KP-controls{
    display: none;
    float: left;
    position: relative;
    
    padding-left: 8px;
    background-color: #DDD;
    margin-bottom: 10px;

    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
}

/*
 * Show the controls when editing mode is entered
 */
.KeyIndicatorsView .editing .KP-controls{
    display: block;
}

/* Make sure that the panel is tall enough to show the editor panel */
.KeyIndicatorsView .KP-main.editing{
    min-height: 145px;
}

.KeyIndicatorsView .KP-controls > a{
    float:left;
    width: 32px;
    margin-top: 4px;
    height: 32px;
}

.KeyIndicatorsView .edit{
    margin-left: 3px;
}

.KeyIndicatorsView #edit{
    float:left;
    background-repeat:no-repeat;
    font-size: larger;
    margin: 0px 0px 5px 0px;
}

.KeyIndicatorsView  #save{
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABqklEQVRIib2Wz0pVURSHv3tzWg1SyVRQuAOfIQWDKFQEiyCkNxAaRC9hT+DAsSMn2iR8hwYNgtCuF6GUgkbe/mjo9Wtw9sHN4Zxzz/WGP9iTtdb+9jp77bPXrqmUaAR4CiwB48BQsP8AvgBvgS3geyFBzRsNdVPt2F2dENvIY+XBn6m/KoCz+qk+6bbAa/XiCvBUHfVV0QLLfcJTXajPU27NpMhjwCfgZlnFe1AbmAK+1YNh9T/CAW4FJjV1AmgB9bIZXXQA7AFzka0DTNZJzng/8BYwCywCG5H9BrBUB+b7gO8DD4CvJBlvZvwLqM0rnpaP6rCXp/Ch+jsTs4vaLgBsqy/UPzm+z+poBJ8u4Bxj/l+7ow6EyXPqaeTbqwhXbROyyepQnYggi+pfdVe9F9lnSuAatminwLmvjkSw++rdHuCq71BflgQ0M9CyguZpBZOtKLuW36u3e8xc9VwdTyetdwn+oN6xeuaqa0a36ViFrFpW7xPHhvrF+/rY5LP61Zn6KOVea8O5lpaZjkH1jXpSAXwSYgfzWGlHK1L8bGkAo8F+BDSp8Gz5BzBaBOJFYXbfAAAAAElFTkSuQmCC);
    /*
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABeElEQVRIibXVv04UURTH8Q/BngI0LEhiwVMgnYFYQNCYGOMbYEgwPoVPYEFlQkcDNALPQEFBg/yxMBYmVvxfostazL2bYXZ2Z/bfL/k195z55t57zpk7pL0qeI0lTOFxWP+Dn9jGJn4XcJo0jQ3UUC9wLeROl4W/wVUJcNaXeFUE/4T7LuDp03xsBX/XIzz6Hm+z8Ke46AM8+lzSIA2t9xEe/TXCnynXLe38AzuZtX+S1rbaI/w0gIZzbmIFdnuAn4T6RS1m4t+EpG7gh3iSgr/AdSbniNbds4X3uMmJHWMyBX/egnNO/tTu4lH4+CWqqdj3kvB6WHecE/gl6a6oBdyFI0+k1mfbwBtX1KrIpx4OywzGO4A3irzSJuEkA43KK2ielyketH2MdLjzB4MGawXJBxjtYOd1fEkfuczP7kz5d6LpZwfz4VjdDF3afzGXhUcN9MGJGuiTGTWGz7gtAb4NuWNl4WlV8AF7kiJXg88kA7osf04a+g+4rI5KfIQ4FgAAAABJRU5ErkJggg==);
    */
}

.KeyIndicatorsView #add{
    background-repeat:no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABO0lEQVRIib2WXU7DMBCEv5iiAuoL4gLlJBwhPQI36hFyhZ4AcRNHPCNeKqFShQ4PsYuV+ieVooxkycrszqxjOxskkRm1pEaS1SWs4+qcRop4SYimYF3OKIPtFcJDbEsGTSZ5GJtCkzIoVT7WQApWEr7zEq4xkNM8G9hE0KekU8agk3RM5FpJGKAG1lziC3gCKkARXsBNhl8DtQE2ERLgMZhXEd4/M0CX0NhUkizxFaQEPWJVD9FWknzgAbgfkVTCAtgDd9Avz+N2AnHo9+WsFRrsJzI4hlqhwWIiA4VaBmjdfOXIcPy6kTqmAk6RvJWL+TDAe6KSjv7kmIJBDm8G2GUCUpco5HPYVe6U5u7CD7CMiHnjb+AhktcCz36TXzNVLAtVxsT/NTXT53pMwxmLJtScvWXO0vQn/W35AzaiN/DuL6lJAAAAAElFTkSuQmCC);
}

.KeyIndicatorsView #cancel{
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAuElEQVRIib2W0RHDIAxDuS6QkTICo2UEj9QRPIr6Az2aRgqUYt3xE5MnYhxMApDEyAAMgONbXmJZMVhgJ1AmL+90GRwD4LOOOwObgFcZM5hZ+VnvL2lz/m/trYGTSU/otFmZcyWvBlnAN/C9sRLbhElWG1sBVwWgYh8MlR4G6oUDgCcRZCZDZd1jwExu4QDwSKv14+qHUuQDcCPPmDykTJf/aMuPipDDbvlxHdJwQlpmSNNvx/S15QX2V+pUVJDcmAAAAABJRU5ErkJggg==);
    /*
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKFJREFUSMfFVtsRwCAIywaO5AiO5giM1BEcpf3R3rVXEB9Q7vKlRiURBORIAAhAAXC+UOpYwkREhpRDqWtUkQeI38g9clogbyCLk3dvEjeSNzw04QQ9OmmjOocT/rYiRx4EbVqug7BJkoQlwQCkNAeh4/cvIhpwXsGK7ZS2nva29s38v8FyisxFNrep+UMzLxUuxc68XLs0HJeW6dL0t35bLqGSi5xUp5StAAAAAElFTkSuQmCC);
    */
}

/*
 * Show the controls if we enter editing mode.
 */
.KeyIndicatorsView .editing > #save{
    display: block;
}

.KeyIndicatorsView .editing > #cancel{
    display: block;
}

.KeyIndicatorsView .editing > #edit{
    display: none;
}

/*
 * Put a box-shadow around the editing box.
 */
.KeyIndicatorsView .editing{
    outline: none;
    box-shadow: 0px 0px 7px #AAA;
    border-color: #AAA;
}

.KeyIndicatorsView .editing .editable-item{
	display: block;
}

.editable-item{
    display: none;
}

.KeyIndicatorsView .clear {
    clear:both;
    line-height:0;
}

/*
 * Make the checkboxes for the indicators list look nicer.
 */
.KeyIndicatorsView #indicators-available input{
    margin: 6px 8px 6px 24px;
}

.KeyIndicatorsView #indicators-available{
    max-height: 300px;
    overflow: auto;
    min-width: 400px;
}

.KeyIndicatorsView .selection-message{
    font-size: larger;
    padding: 10px 20px 10px 20px;
    display: block;
}

.KeyIndicatorsView .saving{
    float: right;
    background-color: #DDD;
    padding: 6px 6px 6px 6px;
    border-radius: 6px;
    display: none;
}