<div id="problemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="problemModal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Correlation Search Invalid</h3>
    </div>
    <div class="modal-body">
        <div class="message-icon">
            <i class="icon-warning-sign icon-large"></i>
        </div>
        <div>The correlation search is invalid, please correct the issues and press save again</div>
    </div>
    <div class="modal-footer">
        <div class="pull-left" style="margin-top: 6px;">
            <a target="_blank" href="http://docs.splunk.com/Documentation/ES/latest/Install/ConfigureCorrelationSearches">Correlation search help</a>
        </div>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<% if( list_link !== null && list_link_title !== null) { %>
<a href="<%- list_link %>"><i class="icon-chevron-left icon-no-underline"></i><span><%- list_link_title %></span></a>
<% } %>

<div id="success_message" class="hide alert alert-info">
  <i class="icon-alert"></i>The changes were successfully saved
</div>

<div id="failure_message" class="hide alert alert-error">
  <i class="icon-alert"></i><span id="error_text">Changes could not be saved</span>
</div>

<div id="guided-mode-dialog-placeholder"></div>

<h1>Correlation Search</h1>
<form class="form-horizontal">
    
    <div class="control-group" id="search-name-control-group">
        <label class="control-label">Search Name<span class="requiredAsterisk">*</span></label>
    
        <div class="controls">
        <% if( is_new) { %>
        <input class="input-xlarge" type="text" name="name" value="<%- name %>">
        <% } else { %>
        <input class="input-xlarge" disabled="true" type="text" name="name" value="<%- name %>">
        <% } %>
        </div>
    </div>
    
    <div class="control-group" id="namespace-control-group">
        <label class="control-label">Application Context</label>
        
        <div class="controls">
        <select class="input-xlarge" name="namespace">
        <% for (var i = 0; i < namespaces.length; i++) { %>
           <option value="<%- namespaces[i]%>"
           <% if( namespaces[i] == namespace ) { %>selected<% } %>
           <% if( !is_new) { %>disabled="true"<% } %>
            ><%- namespaces[i] %></option>
           <% } %>
        </select>
        
        <% if(!is_new) { %>
        <input type="hidden" name="namespace" value="<%- namespace %>">
        <% } %>
        </div>
    </div>
    
    <div class="control-group" id="description-control-group">
        <label class="control-label">Description</label>
        <div class="controls">
          <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="description" value="<%- description %>">
          <span class="hide help-inline"></span>
          <span class="help-block">Describes what kind of issues this search is intended to detect</span>
        </div>
    </div>
    
    <div class="control-group" id="search-control-group">
        <label class="control-label">Search<span class="requiredAsterisk">*</span></label>
        <div class="controls">
          <textarea class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> rows="5" cols="50" name="search"><%- search %></textarea>
          <span class="hide help-inline"></span>
          <a id="show-guided-search-editor" href="#">Edit search in guided mode</a>
          <a id="change-to-manual-mode" class="hide" href="#">Edit search manually</a>
        </div>
    </div>
    
    <h2>Time Range</h2>
    
    <div class="control-group" id="start-time-control-group">
        <label class="control-label">Start time</label>
        <div class="controls">
          <input class="input-medium" <% if (!can_edit) { %>disabled<% } %> type="text" name="start_time" value="<%- start_time %>">
          <span class="hide help-inline"></span>
        </div>
    </div>
    
    <div class="control-group" id="end-time-control-group">
        <label class="control-label">End time</label>
        <div class="controls">
          <input class="input-medium" <% if (!can_edit) { %>disabled<% } %> type="text" name="end_time" value="<%- end_time %>">
          <span class="hide help-inline"></span>
        </div>
    </div>
    
    <div id="cron-schedule-control-group" class="control-group">
        <label class="control-label">Cron Schedule<span class="requiredAsterisk">*</span></label>
        <div class="controls">
            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="cron_schedule" value="<%- cron_schedule %>">
            <span class="hide help-inline"></span>
            <span class="help-block">Enter a cron-style schedule. 
<br />For example '*/5 * * * *' (every 5 minutes) or '0 21 * * *' (every day at 9 PM).
<br />Realtime searches use a default schedule of '*/5 * * * *'.</span>
        </div>
    </div>
    
    <h2>Throttling</h2>
    
    <div id="duration-control-group" class="control-group">
        <label class="control-label">Window duration</label>
        <div class="controls">
            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="duration" value="<% if (duration > 0 && duration != "") { %><%- duration %><% } %>">
            <span class="hide help-inline"></span>
            <span class="help-block">Indicates how many seconds to ignore other events that match (i.e. have the same field values)</span>
        </div>
    </div>
    
    <div id="group-by-control-group" class="control-group">
        <label class="control-label">Fields to group by</label>
        <div class="controls">
            <input placeholder="Type a field and press enter" class="input-medium" <% if (!can_edit) { %>disabled<% } %> type="text" name="group_by" value="<%- group_by %>">
            <span class="hide help-inline"></span>
            <span class="help-block">Indicates what fields to consider when determining if another event matches this one</span>
        </div>
    </div>
    
    <h2>Notable Event</h2>
    
    <div id="notable-action-control-group" class="control-group">
            <label class="control-label">Create notable event</label>
            <div class="controls">
                <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="checkbox" name="notable_isenabled" <% if (notable_isenabled) { %>checked<% } %>>
                <span class="hide help-inline"></span>
            </div>
    </div>
    
    <div id="rule-title-control-group" class="control-group">
        <label class="control-label">Title</label>
        <div class="controls">
            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="rule_title" value="<%- rule_title %>">
            <span class="hide help-inline"></span>
            <span class="help-block">Notable events created by this search will have this title (supports variable substitution)</span>
        </div>
    </div>
    
    <div id="rule-description-control-group" class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="rule_description" value="<%- rule_description %>">
            <span class="hide help-inline"></span>
            <span class="help-block">Notable events created by this search will have this description (supports variable substitution)</span>
        </div>
    </div>
    
    <div class="control-group" id="domain-control-group">
        <label class="control-label">Security Domain</label>
        
        <div class="controls">
        <select class="input-xlarge" name="domain">
        <% for (var i = 0; i < domains.length; i++) { %>
           <option value="<%- domains[i] %>"
           <% if( domains[i].toLowerCase() == domain ) { %>selected<% } %>
           <% if( !is_new) { %>disabled="true"<% } %>
            ><%- domains[i] %></option>
           <% } %>
        </select>
        
        <% if(!is_new) { %>
        <input type="hidden" name="domain" value="<%- domain %>">
        <% } %>
        </div>
    </div>
    
    <div class="control-group" id="severity-control-group">
        <label class="control-label">Severity</label>
        
        <div class="controls">
	        <select class="input-xlarge" name="severity">
	        <% for (var i = 0; i < severities.length; i++) { %>
	           <option value="<%- severities[i] %>"
	           <% if( severities[i] == severity ) { %>selected<% } %>>
	               <%- severities[i] %>
	           </option>
	        <% } %>
	        </select>
        </div>
    </div>
    
    <div class="control-group" id="default-owner-control-group">
        <label class="control-label">Default Owner</label>
                
        <div class="controls">
            <select class="input-xlarge" name="default_owner">
                <option value="">(leave as system default)</option>
                <% for (var i = 0; i < owners.length; i++) { %>
                    <option value="<%- owners[i].value %>"
                       <% if( owners[i].value == default_owner ) { %>selected<% } %>>
                       <%- owners[i].label %>
                    </option>
                <% } %>
            </select>
        </div>
    </div>
    
    <div class="control-group" id="default-status-control-group">
        <label class="control-label">Default Status</label>
                
        <div class="controls">
            <select class="input-xlarge" name="default_status">
                <option value="">(leave as system default)</option>
                <% for (var i = 0; i < statuses.length; i++) { %>
                    <option value="<%- statuses[i].value %>"
                       <% if( statuses[i].value == default_status ) { %>selected<% } %>>
                       <%- statuses[i].label %>
                    </option>
                <% } %>
            </select>
        </div>
    </div>
    
    <div id="drill-down-name-control-group" class="control-group">
        <label class="control-label">Drill-down name</label>
        <div class="controls">
            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="drilldown_name" value="<%- drilldown_name %>">
            <span class="hide help-inline"></span>
            <span class="help-block">Supports variable substitution with fields from the matching event</span>
        </div>
    </div>
    
    <div id="drill-down-search-control-group" class="control-group">
        <label class="control-label">Drill-down search</label>
        <div class="controls">
            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="drilldown_search" value="<%- drilldown_search %>">
            <span class="hide help-inline"></span>
            <span class="help-block">Supports variable substitution with fields from the matching event</span>
        </div>
    </div>
    
    <h2>Risk Scoring</h2>
    <div id="risk-action-control-group" class="control-group">
        <label class="control-label">Create risk modifier</label>
        <div class="controls">
            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="checkbox" name="risk_isenabled" <% if (risk_isenabled) { %>checked<% } %>>
            <span class="hide help-inline"></span>
        </div>
    </div>
    
    <div id="risk-score-control-group" class="control-group">
        <label class="control-label">Score<span class="requiredAsterisk">*</span></label>
        <div class="controls">
            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="risk_score" value="<%- risk_score %>">
            <span class="hide help-inline"></span>
            <span class="help-block">Indicates how much to adjust the score for the given risk object</span>
        </div>
    </div>
    
    <div id="risk-object-control-group" class="control-group">
        <label class="control-label">Risk object field<span class="requiredAsterisk">*</span></label>
        <div class="controls">
            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="risk_object" value="<%- risk_object %>">
            <span class="hide help-inline"></span>
            <span class="help-block">Indicates what field in the results indicates the risk object (such as the system or the user) that the score applies to</span>
        </div>
    </div>
    
    <div id="risk-object-type-control-group" class="control-group">
        <label class="control-label">Risk object type<span class="requiredAsterisk">*</span></label>
        <div class="controls">
            <div class="input input-text" id="risk_object_type"></div>
            <span class="hide help-inline"></span>
            <span class="help-block">Indicates the type of risk object this applies to (usually 'system' or 'user')</span>
        </div>
    </div>
        
    <h2>Actions</h2>
    
    <div class="section-odd">
        <div id="rss-action-control-group" class="control-group">
            <label class="control-label">Include in RSS feed</label>
            <div class="controls">
                <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="checkbox" name="rss_isenabled" <% if (rss_isenabled) { %>checked<% } %>>
                <span class="hide help-inline"></span>
            </div>
        </div>
    </div>
    
    <div class="section-even">
	    <div id="email-action-control-group" class="control-group">
	        <label class="control-label">Send email</label>
	        <div class="controls">
	            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="checkbox" name="email_isenabled" <% if (email_isenabled) { %>checked<% } %>>
	            <span class="hide help-inline"></span>
	        </div>
	    </div>
	    
	    <div id="email-subject-control-group" class="control-group">
	        <label class="control-label">Email subject<span class="requiredAsterisk">*</span></label>
	        <div class="controls">
	            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="email_subject" value="<%- email_subject %>">
	            <span class="hide help-inline"></span>
	        </div>
	    </div>
	    
	    <div id="email-to-control-group" class="control-group">
	        <label class="control-label">Email address(es)<span class="requiredAsterisk">*</span></label>
	        <div class="controls">
	            <input placeholder="Type an email and press enter" class="input-large" <% if (!can_edit) { %>disabled<% } %> type="text" name="email_to" value="<%- email_to %>">
	            <span class="hide help-inline"></span>
	            <span class="help-block">You must use a valid MTA to send email.  Configure this in <a target="_blank" id="email_settings_link" href="#">Email alert settings</a>.</span>
	        </div>
	    </div>
	    
	    <div id="email-send-results-control-group" class="control-group">
	        <label class="control-label">Include results in email</label>
	        <div class="controls">
	            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="checkbox" name="email_sendresults" <% if (email_sendresults) { %>checked<% } %>>
	            
	            <select class="input-small" name="email_format">
	                <% for (var i in email_formats) { %>
	                    <option value="<%- i %>"
	                       <% if( i == email_format ) { %>selected<% } %>>
	                       <%- email_formats[i] %>
	                    </option>
	                <% } %>
	            </select>
	            
	            <span class="hide help-inline"></span>
                
	        </div>
	    </div>
    </div>
    
    <div class="section-odd">
	    <div id="script-action-control-group" class="control-group">
	        <label class="control-label">Run a script</label>
	        <div class="controls">
	            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="checkbox" name="script_isenabled" <% if (script_isenabled) { %>checked<% } %>>
	            <span class="hide help-inline"></span>
	        </div>
	    </div>
	    
	    <div id="script-filename-control-group" class="control-group">
	        <label class="control-label">File name of the shell script to run</label>
	        <div class="controls">
	            <input class="input-xlarge" <% if (!can_edit) { %>disabled<% } %> type="text" name="script_filename" value="<%- script_filename %>">
	            <span class="hide help-inline"></span>
	            <span class="help-block">Splunk runs the script from $SPLUNK_HOME/bin/scripts/</span>
	        </div>
	    </div>
    </div>
    
    <div class="actions">
        <% if( list_link !== null ) { %>
        <a href="#" id="cancel" class="btn label_from_data pull-left" style="display: inline;">Cancel</a>
        <% } %>
        <a href="#" id="save" class="btn btn-primary pull-right <% if (!can_edit) { %>disabled<% } %>" style="display: inline;">Save</a>
    </div>
                
</form>