<div tabindex="-1" id="searchSpecNotSupportedModal" class="modal fade hide">
    <div class="modal-header">
        <button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
        <h3 class="text-dialog-title">Search Specification Not Supported</h3>
    </div>
    <div class="modal-body form form-horizontal modal-body-scrolling">
        This search was created from a search specification that is newer than a version that the guided mode supports.
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-dialog-cancel label_from_data" data-dismiss="modal" style="display: inline;">Close</a>
    </div>
</div>

<div id="guidedSearchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="guidedSearchModal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Guided Search Creation</h3>
    </div>
    <div class="modal-body">
         
        <div class="wizard-steps">
            <div class="step step-1 step-2">
                <span class="step-number">1.</span>
                <span class="step-description">Select Data</span>
            </div>

            <div class="step step-3">
                <span class="step-number">2.</span>
                <span class="step-description">Filter</span>
            </div>

            <div class="step step-4 step-5 step-6 step-7">
                <span class="step-number">3.</span>
                <span class="step-description">Stats</span>
            </div>

            <div class="step step-8">
                <span class="step-number">4.</span>
                <span class="step-description">Analyze</span>
            </div>
            
            <div class="step step-9">
                <span class="step-number">5.</span>
                <span class="step-description">Ready!</span>
            </div>
            
        </div>
        
        <div class="warning-message-container">
	        <div id="warning-message" class="hide alert alert-error">
			  <i class="icon-alert"></i><span id="warning-message-text"></span>
			</div>
		</div>
        
        <!-- Page for describing that the search string will be replaced -->
        <div class="hide" id="string_search_to_be_replaced_page">
            This wizard will guide you through the process of making the logic for a search. If you have an existing search defined, this one will replace it.
        </div>
                
        <!-- Page for selection of data-model information -->
        <div class="hide" id="data_model_selection_page">
            
            <div class="panel-description">Select the source of the data:</div>
            
            <div class="input input-dropdown" id="data-source-dropdown">
                <label>Source</label>
            </div>
            
            <div class="input input-dropdown" id="lookup-name-dropdown">
                <label>Lookup name</label>
            </div>
            
	        <div class="input input-dropdown" id="models-dropdown">
	            <label>Data Model</label>
	        </div>
	        
	        <div class="input input-dropdown" id="objects-dropdown">
	            <label>Object</label>
	        </div>
            
	   </div>
	   
        <!-- Page for selection of time-range information -->
        <div class="hide" id="time_selection_page">
            
            <div class="panel-description">Specify the time-range to limit the search to:</div>
            
            <div class="input input-text" id="lookup-time-field-dropdown">
                <label>Time field</label>
            </div>
            
            <div class="input input-text" id="time-preset-dropdown">
                <label>Preset time-range</label>
            </div>
            
            <div class="input input-text" id="start-time-input">
                <label>Earliest time</label>
            </div>
            
            <div class="input input-text" id="end-time-input">
                <label>Latest time</label>
            </div>
            
            <div>
                <a href="../../help?location=learnmore.timerange.picker" target="_blank" title="Splunk help" class="btn-documentation">Documentation <i class="icon-external"></i></a>
            </div>
            
        </div>
	   
        <!-- Page for specification of events filter -->
        <div class="hide" id="event_filter_page">
            
            <div class="panel-description">
            Specify a string to filter the data (or leave blank if no filtering is required).
            Events filtering will occur before any statistics are applied.
            This string needs to be a valid <a target="_blank" href="http://docs.splunk.com/Documentation/Splunk/latest/SearchReference/Where">where clause</a>.
            </div>
            
            <div class="input input-text" id="event-filter-input">
                <label>Filter</label>
            </div>
            
            <div id="search-description-event-filter">
            </div>
            
       </div>
	   
       <!-- Page for listing aggregates -->
       <div class="hide" id="aggregate_list_page">
        
            <div class="panel-description">Create or edit aggregates to obtain statistics on the data:</div>
                 
            <table class="table table-striped" id="aggregates-list">
                <thead>
	                <tr>
	                    <th colspan="3">Aggregates</th>
	                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            
            <a href="#" class="aggregate-new">Add a new aggregate</a>
       </div>
	   
       <!-- Page for editing an aggregate -->
       <div class="hide" id="aggregate_edit_page">
        
            <div class="panel-description">Select the attribute to analyze to aggregate on (or leave blank if you just want the results directly):</div>
                       
            <div class="input input-dropdown" id="functions-dropdown">
                <label>Function</label>
            </div>
            
            <div class="input input-dropdown" id="attributes-dropdown">
                <label>Attribute</label>
            </div>
            
            <div class="input input-text" id="aggregate-alias-input">
                <label>Alias</label>
            </div>
            
       </div>
	   
       <!-- Page for selection of the split-by -->
       <div class="hide" id="split_by_selection_page">
            
            <div class="panel-description">Select the fields to split by, leave blank if you do not want to split by anything:</div>
            
            <div class="input input-multiselect" id="split-by-dropdown">
                <label>Split-by</label>
            </div>
       </div>
       
       <!-- Page for aliasing the split-by -->
       <div class="hide" id="split_by_alias_page">
            
            <div class="panel-description">Modify or define aliases for the split-by fields:</div>
            
            <table class="table table-striped" id="split-by-alias-list">
                <thead>
                    <tr>
                        <th>Split-by field</th>
                        <th>Alias</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
       </div>
	   
        <!-- Page for selection of the matching logic -->
        <div class="hide" id="match_logic_selection_page">
        
            <div class="panel-description">Define the logic to indicate when the search should match:</div>
            
            <div class="input input-dropdown" id="attributes-post-aggregate-dropdown">
                <label>Attribute</label>
            </div>
            
            <div class="input input-dropdown" id="comparator-dropdown">
                <label>Operation</label>
            </div>
            
            <div class="input input-text" id="operand-input">
                <label>Value</label>
            </div>
       </div>
	   
	   
       <!-- Page for finalizing the search -->
       <div class="hide" id="finalize_search_page">
        
            <div class="panel-description">Below is the created search:</div>
            
            <div>
                <div id="search-description">
                </div>
                <br />
                Press save to apply this search.
            </div>
       </div>
	   
        
    </div>
    <div class="modal-footer">
        <button class="btn pull-left hide" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn pull-left btn-prev">Previous</button>
        <button class="btn btn-primary pull-right btn-next">Next</button>
        <button class="btn btn-primary pull-right btn-finalize hide" data-dismiss="modal">Save</button>
    </div>
</div>

<script type="text/x-template" id="search-description-template">
    <% if( parses ){ %>
    <div id="search-parse-status" class="alert alert-info">
        <i class="icon-alert"></i>Search parses successfully
    </div>
    <% } else{ %>
    <div id="search-parse-status" class="alert alert-error">
        <i class="icon-alert"></i>Search does not parse
    </div>
    <% } %>

    <pre><%- search_string %></pre>
    
    <a target="_blank" href="search?q=<%- encodeURIComponent(search_string) %>">Run search <i class="icon-external"></i></a>
</script>