<div id="logReviewPopupProblemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="logReviewPopupProblemModal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Edit Events</h3>
    </div>
    <div class="modal-body">
        <div class="message-icon">
            <i class="icon-warning-sign icon-large"></i>
        </div>
        <div id="message"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>



<div id="logReviewPopupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="logReviewPopupModal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Edit Events</h3>
    </div>
    <div class="modal-body">
        
        <div id="error_message" class="hide alert alert-error">
		  <i class="icon-alert"></i><span id="error_text">Changes could not be saved</span>
		</div>
        
        <form class="form-horizontal">
            
            <div class="control-group" id="status-control-group">
                <label class="control-label">Status</label>
                
                <div class="controls">
                    <div class="input input-dropdown" id="log_review_statuses_input"></div>
                </div>
            </div>
            
            <% if(urgency_override_allowed) {%>
            <div class="control-group" id="urgency-control-group">
                <label class="control-label">Urgency</label>
                
                <div class="controls">
                    <div class="input input-dropdown" id="log_review_urgencies_input"></div>
                </div>
            </div>
            <% } %>
            
            <div class="control-group" id="owner-control-group">
                <label class="control-label">Owner</label>
                
                <div class="controls">
                    <div class="input input-dropdown" id="log_review_owners_input"></div>
                </div>
                
                
            </div>
            
            <div class="control-group" id="comment-control-group">
                <label class="control-label">Comment<% if (comment_length_required > 0) { %><span class="requiredAsterisk">*</span><% } %></label>
                <div class="controls">
                  <textarea class="input-large" rows="5" name="comment"></textarea>
                  <% if (comment_length_required > 0) { %>
                  <span class="help-block">A comment of length <%- comment_length_required %> characters is required (<span id="moreCharsNeeded"><%- comment_length_required %></span> more characters needed)</span>
                  <% } %>
                </div>
            </div>
            
         </form>
    
    </div>
    <div class="modal-footer">
        <button id="cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="save" class="btn btn-primary pull-right save">Save changes</button>
    </div>
</div>



<div id="logReviewPopupControls">
    <% if(show_select_unselect_all){ %>
    <a id="selectAll" href="#">Select all</a> |
    <a id="unSelectAll" href="#">Unselect all</a> |
    <% } %>
    <a id="editAllSelected" href="#">Edit all selected</a> |
    <a id="editAll" href="#">Edit all <span id="matching_event_count"></span>matching events</a>
</div>